$mainFont: 'Suisse Intl', sans-serif;
$titleFont: 'SangBleu Empire', sans-serif;
$textFont: 'Garamond Premr Pro', sans-serif;

$colorBlue: #003F78;
$colorCyan: #1EA9AF;
$colorCyanDark: #11919B;;
$colorGray: #404040;

$media-list: (
		'xxs': 375,
		'xs': 499,
		'sm': 699,
		'md': 1100,
		'lg': 1279,
		'xl': 1300,
		'xxl': 1900
);