$mainFont: 'Suisse Int\'l', sans-serif;
$titleFont: 'Garamond Premier Pro', sans-serif;
$textFont: 'Garamond Premier Pro', sans-serif;

$colorBlue: #003F78;
$colorCyan: #1EA9AF;
$colorGray: #404040;

$media-list: (
		'xxs': 375,
		'xs': 499,
		'sm': 699,
		'md': 999,
		'lg': 1279,
		'xl': 1300,
		'xxl': 1900
);