.header
	.header__left
		.header__menu
			.header__menu-item
				a(href="") История
			.header__menu-item
				a(href="") Легенды УГНТУ
			.header__menu-item
				a(href="") Поздравление ректора
			.header__menu-item
				a(href="") календарь событий
	.header__right
		a.header__btn(href="") поддержать
		a.header__btn.header__btn--blue.js-congrat(href="") поздравить