.sidebar
	.sidebar__logo
		img(src="img/svg/logo-side.svg" alt="logo")

	.sidebar__menu
		.sidebar__menu-item.active
			a(href="") 1940-е
		.sidebar__menu-item
			a(href="") 1950-е
		.sidebar__menu-item
			a(href="") 1960-е
		.sidebar__menu-item
			a(href="") 1970-е
		.sidebar__menu-item
			a(href="") 1980-е
		.sidebar__menu-item
			a(href="") 1990-е
		.sidebar__menu-item
			a(href="") 2010-е