.sidebar
	.sidebar__logo
		img(src="img/svg/logo-side.svg" alt="logo")
	.sidebar__burger
		.sidebar__burger-open
			span
			span
	if !hideYears
		.sidebar__menu
			.sidebar__menu-item(class=sidebarActive === 1940 ? 'active selected':'')
				a(href="./index.html") 1940-е
				.sidebar__menu-dropdown
					a(href="./index.html?y=1941") 1941
					a(href="./index.html?y=1943") 1943
					a(href="./index.html?y=1948") 1948
					a(href="./index.html?y=1949") 1949
			.sidebar__menu-item(class=sidebarActive === 1950 ? 'active selected':'')
				a(href="page2.html") 1950-е
				.sidebar__menu-dropdown
					a(href="./page2.html?y=1951") 1951
					a(href="./page2.html?y=1952") 1952
					a(href="./page2.html?y=1954") 1954
					a(href="./page2.html?y=1955") 1955
					a(href="./page2.html?y=1956") 1956
					a(href="./page2.html?y=1957") 1957
					a(href="./page2.html?y=1958") 1958
			.sidebar__menu-item
				a(href="") 1960-е
			.sidebar__menu-item
				a(href="") 1970-е
			.sidebar__menu-item
				a(href="") 1980-е
			.sidebar__menu-item
				a(href="") 1990-е
			.sidebar__menu-item
				a(href="") 2010-е

		.sidebar__mobile-year #{sidebarActive}-e


	.sidebar__global
		.sidebar__global-top
			.header
				.header__left
				.header__right
					a.header__btn(href="") поддержать
					a.header__btn.header__btn--blue(href="") поздравить
		.sidebar__global-items
			.sidebar__global-item.active
				a(href="./index.html") История
			.sidebar__global-item
				a(href="") Легенды УГНТУ
			.sidebar__global-item
				a(href="./congratulations.html") Поздравления
			.sidebar__global-item
				a(href="./events.html") Календарь событий