extends ../layouts/default

block variables
	- const title = "1950-1958"
	- var sidebarActive = 1950

block head
	include ../../blocks/modules/overlay/overlayStyle
block content
	.fullPageOverlay.active
	.wrapper
		include ../../blocks/modules/sidebar/sidebar
		.scroll-page.y1950
			.y2-1
				.y2-1__numbers
					span.y2-1__numbers-number 1950
					span.y2-1__numbers-line
					span.y2-1__numbers-number 1958
				.y2-1__photos
					img.y2-1__photos-item.y2-1__photos-item--1(src="img/o1-1.webp" alt="")
					img.y2-1__photos-item.y2-1__photos-item--2(src="img/o1-2.webp" alt="")
					img.y2-1__photos-item.y2-1__photos-item--3(src="img/o1-3.webp" alt="")

			.y2-2
				.y2-2__top
					img(src="img/o2.webp" alt="")
				.y2-2__title.blockTitle
					span Состоялся
					span  первый
					span  выпуск
				.y2-2__fly
					img(src="img/o3.webp" alt="")
				.y2-2__text Окончили институт четырнадцать инженеров по специальности «Машины и оборудование нефтяных и газовых промыслов».
				.y2-2__diplom
					picture
						source(srcset="img/mobile/o4.webp" media="(max-width: 699px)")
						img(src="img/o4.webp" alt="")
				img.y2-2__bottom(src="img/svg/o-bottom.svg" alt="")

			.y2-3
				.y2-3__text Идет защита дипломных проектов перед государственной экзаменационной комиссией
				.y2-3__background
					img(src="img/o5-1.webp" alt="")
					.y2-3__label председателем комиссии был Лауреат Сталинской премии Герой Социалистического Труда Начальник Объединения «Башнефть» С.И. Кувыкин
				.y2-3__man
					img(src="img/o5-2.webp" alt="")

				.y2-3__overlay.blockOverlay

			.y2-4.horisontalBlock#year1951
				.y2-4__first
					.y2-4__first-bg.allHeightImage
						picture
							source(srcset="img/mobile/o6-1.webp" media="(max-width: 1100px)")
							img(src="img/o6-1.webp" alt="")
					.y2-4__first-year.yearConner 1951
					.y2-4__first-text
						.y2-4__first-text-col.textBlock Первый выпуск инженеров-технологов по переработке нефти и газа

				.y2-4__second.horisontalBlock__flex
					.y2-4__second-image.paddingsImage
						img(src="img/o6-3.webp" alt="")
					.y2-4__second-text
						.y2-4__second-year.yearConner 1951
						img.y2-4__second-text-img(src="img/o6-2.webp" alt="")
						.y2-4__second-text-col.textBlock Комплексная тема: «Получение спецтоплив методом депарфинизации с помощью мочевины», она имела большое народно-хозяйственное значение для нефтеперерабатывающей промышленности.
						.y2-4__second-text-col.textBlock По указанию начальника Главвостокнефтепереработки А.М. Малунцева  под эти цели была сооружена установка на Уфимском нефтеперерабатывающем заводе Ордена Ленина. Первые результаты были столько значительны,что Министерство нефтяной промышленности заключило договор на выполнение научных исследований на хоздоговорной основе.

				.y2-4__overlay.blockOverlay

			.y2-5.horisontalBlock#year1952
				.y2-5__flex.horisontalBlock__flex
					.y2-5__text
						.y2-5__year.yearConner 1952
						.y2-5__text-bottom
							.y2-5__text-col.textBlock Открыт нефтемеханический факультет, где готовили инженеров-механиков по специальности Транспорт и хранение нефти и газа.
							.y2-5__text-col.textBlock Одновременно формируется выпускающая кафедра «Транспорт и хранение нефти».
					.y2-5__image.allHeightImage
						img(src="img/o7.webp" alt="")
				.y2-5__overlay.blockOverlay

			.y2-6.horisontalBlock
				.y2-6__image
					picture
						source(srcset="img/mobile/o8.webp" media="(max-width: 1100px)")
						img(src="img/o8.webp" alt="")
				.y2-6__year.yearConner 1952
				.y2-6__title.blockTitle
					span первый
					span  доктор
					span  химических
					span  наук
				.y2-6__text
					.y2-6__text-col.textBlock Доцент Борис Васильевич Клименок стал первым доктором химических наук в Башкирии. В этом же году он назначен директором института.
				.y2-6__overlay.blockOverlay

			.y2-7.horisontalBlock#year1954
				.y2-7__image
					picture
						source(srcset="img/mobile/o9.webp" media="(max-width: 1100px)")
						img(src="img/o9.webp" alt="")
				.y2-7__year.yearConner 1954
				.y2-7__title.blockTitle
					span Виктор
					span  Евдокимович
					span  Губин
				.y2-7__text
					.y2-7__text-col.textBlock Директором института назначен доцент Виктор Евдокимович Губин.
				.y2-7__overlay.blockOverlay

			.y2-8.horisontalBlock#year1955
				.y2-8__flex.horisontalBlock__flex
					.y2-8__text
						.y2-8__year.yearConner 1955
						.y2-8__text-col.textBlock В г. Стерлитамаке организован Учебно-консультационный пункт ВЗПИ, в последствии преобразованный в&nbsp;Стерлитамакский филиал Уфимского нефтяного института.
					.y2-8__image.paddingsImage
						img(src="img/o10.webp" alt="")
				.y2-8__overlay.blockOverlay

			.y2-9.horisontalBlock
				video.y2-9__video(poster="img/o11-preview.jpg" preload="metadata" loop muted)
					source(src="video/video.mp4" type='video/mp4')
				.y2-9__flex.horisontalBlock__flex
					.y2-9__image.paddingsImage
						img(src="img/o11.webp" alt="")
					.y2-9__text
						.y2-9__year.yearConner 1955
						.y2-9__title.blockTitle
							span Общая
							span  стоимость
							span  45,6 млн.руб
						.y2-9__text-col.textBlock Началось строительство современного студенческого городка УГНТУ.
				.y2-9__overlay.blockOverlay

			.y2-10.horisontalBlock#year1956
				.y2-10__flex.horisontalBlock__flex
					.y2-10__image.allHeightImage
						img(src="img/o12.webp" alt="")
					.y2-10__text
						.y2-10__year.yearConner 1956
						.y2-10__text-col.textBlock Создан Октябрьский вечерний факультет.
				.y2-10__overlay.blockOverlay


			.y2-11.horisontalBlock#year1957
				.y2-11__first.horisontalBlock__flex
					.y2-11__first-img
						img(src="img/o13-1.webp" alt="")
					.y2-11__first-year.yearConner 1957
					.y2-11__first-title.blockTitle.inline
						span.big 600
						span  мест
					.y2-11__first-text
						.y2-11__first-text-col.textBlock Сдано в эксплуатацию первое благоустроенное студенческое общежитие на 600 мест. Во всех имеющихся к тому времени 10 общежитиях института проживало 720&nbsp;студентов.

				.y2-11__second.horisontalBlock__flex
					.y2-11__second-image
						img(src="img/o13-2.webp" alt="")
					.y2-11__second-text
						.y2-11__second-year.yearConner 1957
						.y2-11__second-title.blockTitle
							span Открыта
							span  собственная
							span  аспирантура
						.y2-11__second-text-col.textBlock Минвуз РСФСР разрешил доктору технических наук, профессору В.С.&nbsp;Яблонскому вести подготовку кадров через аспирантуру: первыми аспирантами стали	Г.З.&nbsp;Закиров и К.Д.&nbsp;Фролов.
				.y2-11__overlay.blockOverlay


			.y2-12.horisontalBlock#year1958
				.y2-12__images
					.y2-12__images-bg.allHeightImage
						img(src="img/o14-1.webp" alt="")
					.y2-12__images-img
						img(src="img/o14-2.webp" alt="")

				.y2-12__text
					.y2-12__year.yearConner 1958
					.y2-12__title.blockTitle.inline
						span.big 200
						span  мест
					.y2-12__text-col.textBlock Сдана в эксплуатацию первая студенческая столовая на 200 посадочных мест.
				.y2-12__last
					img(src="img/o14-3.webp" alt="")


block scripts
