extends ../layouts/default

block variables
	- const title = "2010-2022"
	- var sidebarActive = 2010

block head
	include ../../blocks/modules/overlay/overlayStyle
block content
	.fullPageOverlay.fullPageOverlay--white.active
	.wrapper
		include ../../blocks/modules/sidebar/sidebar
		.scroll-page.y2010
			.y8-110
				.y8-110__numbers
					span.y8-110__numbers-number 2010
					span.y8-110__numbers-line
					span.y8-110__numbers-number 2022
				.y8-110__photos
					img.y8-110__photos-item.y8-110__photos-item--1(src="img/y6-110--1.png" alt="")
					img.y8-110__photos-item.y8-110__photos-item--2(src="img/y6-110--2.png" alt="")
					img.y8-110__photos-item.y8-110__photos-item--3(src="img/y6-110--3.png" alt="")
			.y8-1-80
				.y8-1-80__year.yearConner 2010
			.y8-1
				.y8-1__year.yearConner 2010
				.y8-1__bg
					.y8-1__bg--1
						picture 
							source(media="(max-width: 1100px)", srcset="img/y8-1__bg.png")
							img(src="img/y8-1__bg.png" alt="")
				.y8-1__blockOverlay.blockOverlay
				.y8-1__1
					picture
						img(src="img/y8-1--2-bg.png" alt="")
				.y8-1__2
					picture
						img(src="img/y8-1__2.png" alt="")
				.y8-1__text--1.textBlock
					!="Студент гр. СТ-05 Сергей Хижняк стал 75-тысячным выпускником университета." 			
			
			
			.y8-2#year2010
				.y8-2__text.y8-2__text--1.textBlock
					!="Кафедра архитектуры завоевала первое место в международном архитектурном конкурсе Schindler Award-2010."
				.y8-2__year.yearConner 2010
				.y8-2__bg
					.y8-2__bg--1
						img(src="img/y8-2__man.png" alt="")
				//- .y8-2__man
				//- 	picture
				//- 		img(src="img/y8-2__man.png" alt="")

				.y8-2__2
					picture
						img(src="img/y8-2__2.png" alt="")
				.y8-2__title.y8-2__title--1.blockTitle.blockTitle--desc
					span  Schindler 
					span  
						!="Award-2010"
				.y8-2__title.y8-2__title--1.blockTitle.blockTitle--mob
					span  Schindler 
					span  
						!="Award-2010"
			.y8-3
				.y8-3__bg
					.y8-3__bg--1
					picture
						source(media="(max-width: 1100px)", srcset="img/y8-3-1-mob.png")
						img(src="img/y8-3-1.png" alt="")
					.y8-3__year.yearConner.blockTitle--mob 2011
					.y8-3__text.y8-3__text--1.textBlock
						!='Стерлитамакский филиал УГНТУ стал победителем Республиканского конкурса программ, направленных на поддержку студенчества и развитие деятельности молодёжных клубов и центров на базе учреждений высшего и среднего профессионального образования.'

			.y8-10__blockOverlay.blockOverlay
			.y8-10#year2011
				.y8-11
					.y8-11__text.y8-11__text--1.textBlock.blockTitle--desc
						!="Ректору А.М. Шаммазову, профессорам Б.Н. Мастобаеву и Э.М. Мовсум-заде были присуждены звания «Лауреат премии Правительства Российской Федерации в области образования»."
					.y8-11__year.yearConner.blockTitle--desc 2011
					.y8-11__1
						picture
							source(media="(max-width: 1100px)", srcset="img/y8-11__1.png")
							img(src="img/y8-11__1.png" alt="")
					.y8-11__year.yearConner.blockTitle--mob 2011
					.y8-11__text.y8-11__text--1.textBlock.blockTitle--mob
						!="Ректору А.М. Шаммазову, профессорам Б.Н. Мастобаеву и Э.М. Мовсум-заде были присуждены звания «Лауреат премии Правительства Российской Федерации в области образования»."
					.y8-11__title.y8-11__title--1.blockTitle.blockTitle--desc
						span 
							!="Лауреаты"						
				.y8-13
					.y8-13__1
						picture
							img(src="img/y8-13__1.png" alt="")
			.y8-14__blockOverlay.blockOverlay
			.y8-14#year2012
				.y8-14__1
					picture
						img(src="img/y8-14__1.png" alt="")
				.y8-14__year.yearConner.blockTitle--mob 2012
				.y8-14__year.yearConner.blockTitle--desc 2012
				.y8-14__text--1.textBlock
					!='23–25 мая УГНТУ удостоился звания победителя всероссийского конкурса «ВУЗ здорового образа жизни» на Всероссийском форуме студентов «Мы за здоровый образ жизни» в Ульяновске.'

          
			.y8-15__blockOverlay.blockOverlay
			.y8-15#year2014
				.y8-15__1
					picture
						img(src="img/y8-15__1.png" alt="")
				.y8-15__year.yearConner.blockTitle--mob 2014
				.y8-15__year.yearConner.blockTitle--desc 2014
				.y8-15__text--1.textBlock
					!='Массовый турнир игры «Что? Где? Когда?» в Уфе признан новым рекордом страны и попал в Книгу рекордов России.'

			.y8-17__blockOverlay.blockOverlay
			.y8-17#year2015
				.y8-16
					.y8-16__1
						picture
							img(src="img/y8-16__1.png" alt="")
					.y8-16__year.yearConner.blockTitle--mob 2015
					.y8-16__year.yearConner.blockTitle--desc 2015
					.y8-16__text--1.textBlock
						!='В Азербайджане подписан меморандум о создании Ассоциации образовательных организаций высшего образования Российской Федерации и Азербайджанской Республики.'
				.y8-18
					.y8-18__1
						picture
							img(src="img/y8-18__1.png" alt="")

					.y8-18__year.yearConner.blockTitle--mob 2015
					.y8-18__text--1.textBlock
						!='Клуб спортивного танца «Телемарк» УГНТУ стал серебрянымпризером Чемпионата России по танцевальному спорту и представил Россиюна Чемпионате мира по спортивным танцам, проходившем в Германии.'
					.y8-18__text--2.textBlock
						!='Дебютуфимских спортсменов получился впечатляющим. Преодолев сложныесоревнования отборочных туров, команда УГНТУ заняла 4 место.'
				.y8-19
					.y8-19__1
						picture
							img(src="img/y8-19__1.png" alt="")
					.y8-19__year.yearConner.blockTitle--desc 2015
					.y8-19__text--1.textBlock
						!='В 2016 году «Телемарк» повторил свой успех - 2-е место в России и 4-е в мире. В 2017 году «Телемарк» снова завоевал 2-е место в России и 4-е в мире. В 2018 году - 2-е место в Чемпионате России и серебряные награды Чемпионата мира.'
			
			
			.y8-20__blockOverlay.blockOverlay
			.y8-20#year2016
				.y8-21
					.y8-21__1
						picture
							img(src="img/y8-21__1.png" alt="")

					.y8-21__year.yearConner.blockTitle--mob 2016
					.y8-21__year.yearConner.blockTitle--desc 2016
					.y8-21__text--1.textBlock
						!='УГНТУ присвоен статус опорного вуза ПАО «Газпром».'
					.y8-21__2
						picture
							img(src="img/y8-21__2.png" alt="")
				.y8-22
					.y8-22__1
						picture
							img(src="img/y8-22__1.png" alt="")
					.y8-22__year.yearConner.blockTitle--mob 2016
					.y8-22__year.yearConner.blockTitle--desc 2016
					.y8-22__text--1.textBlock
						!="По итогам конкурса Минобрнауки РФ Уфимский государственный нефтяной технический университет становится региональным опорным вузом."

			.y8-23__blockOverlay.blockOverlay
			.y8-23#year2017
				.y8-24
					.y8-24__1
						picture
							img(src="img/y8-23__1.png" alt="")
					.y8-24__wrap
						.y8-24__wrap--line
					.y8-24__year.yearConner.blockTitle--mob 2017
					.y8-24__year.yearConner.blockTitle--desc 2017
					.y8-24__text--1.textBlock
						!='Стотысячным выпускником стал Рустем Ильин (гр. БТС-13—01).'
				.y8-25
					.y8-25__1
						picture
							img(src="img/y8-24__1.png" alt="")
					.y8-25__year.yearConner.blockTitle--mob 2017
					.y8-25__year.yearConner.blockTitle--desc 2017
					.y8-25__text--1.textBlock
						!="Состоялось открытие Молодежного технопарка УГНТУ - учебного корпуса №11."

			.y8-26__blockOverlay.blockOverlay
			.y8-26#year2018
				.y8-27
					.y8-27__1
						picture
							img(src="img/y8-27__1.png" alt="")
					.y8-27__2
						picture
							img(src="img/y8-27__2.png" alt="")
					.y8-27__year.yearConner.blockTitle--mob 2018
					.y8-27__year.yearConner.blockTitle--desc 2018
					.y8-27__text--1.textBlock
						!='Уфимский государственный нефтяной технический университет отметил 70-летний юбилей.'
				.y8-28
					.y8-28__1
						picture
							source(media="(max-width: 1100px)", srcset="img/y8-28__1--mob.png")
							img(src="img/y8-28__1.png" alt="")
					.y8-28__2
						picture
							img(src="img/y8-28__2.png" alt="")
				.y8-29
					.y8-29__1
						picture
							img(src="img/y8-29__1.png" alt="")
					.y8-29__year.yearConner.blockTitle--mob 2018
					.y8-29__year.yearConner.blockTitle--desc 2018
					.y8-29__text--1.textBlock
						!="Победителем конкурса Российского фонда фундаментальных исследований 2018 года на лучшие проекты, выполняемые молодыми учеными «Эврика! Идея» стал научный проект докторанта УГНТУ, доцента кафедры Общей химии Г.З. Раскильдиной "
					.y8-29__text--2.textBlock
						!=" «Влияние эко- и суперэкотоксикантов на клеточные механизмы старения человека. Поиск новых антиоксидантов с целью управления процессом старения»."
				.y8-30
					.y8-30__text.y8-30__text--1.textBlock.blockTitle--desc
						!="Ректором УГНТУ избран О.А. Баулин"
					.y8-30__year.yearConner.blockTitle--desc 2018
					.y8-30__bg
					.y8-30__1
						picture
							source(media="(max-width: 1100px)", srcset="img/y8-30__1.png")
							img(src="img/y8-30__1.png" alt="")
					.y8-30__year.yearConner.blockTitle--mob 2018
					.y8-30__text.y8-30__text--1.textBlock.blockTitle--mob
						!="Ректором УГНТУ избран О.А. Баулин"

					.y8-30__title.y8-30__title--1.blockTitle.blockTitle--desc
						span 
							!="ректором"
						span 
							!="УГНТУ избран"
					.y8-30__title.y8-30__title--2.blockTitle.blockTitle--desc
						span 
							!=" О.А. Баулин"

			.y8-31__blockOverlay.blockOverlay
			.y8-31#year2019
				.y8-32
					.y8-32__1
						picture
							img(src="img/y8-32__1.png" alt="")
					.y8-32__2
						picture
							img(src="img/y8-32__2.png" alt="")
					.y8-32__year.yearConner.blockTitle--mob 2019
					.y8-32__year.yearConner.blockTitle--desc 2019
					.y8-32__text--1.textBlock
						!='На Международном конкурсе-фестивале творчества  Народный хореографический ансамбль УГНТУ «Танц-Класс» стал Лауреатом I степени в номинации «Эстрадный танец», а также завоевал специальный приз как Лучший хореографический коллектив.'

			.y8-33__blockOverlay.blockOverlay
			.y8-33#year2021
				.y8-34
					.y8-34__1
						picture
							img(src="img/y8-16__1.png" alt="")
					.y8-34__2
						picture
							img(src="img/y8-34__2.png" alt="")
					.y8-34__year.yearConner.blockTitle--mob 2021
					.y8-34__year.yearConner.blockTitle--desc 2021
					.y8-34__text--1.textBlock
						!='Решением конкурсной комиссии Минобрнауки России поддержано участие УГНТУ в программе «Приоритет-2030». УГНТУ не только получил базовый грант 100 млн рублей, но и стал единственным нефтегазовым вузом в стране, который получил специальный грант программы '
					.y8-34__text--2.textBlock
						!='«Приоритет 2030» по направлению «Территориальное и (или) отраслевое лидерство» в размере 142 млн рублей. Эта победа определила деятельность вуза на несколько лет вперёд.'
				.y8-35
					.y8-35__1
						picture
							img(src="img/y8-35__1.png" alt="")
					.y8-34__year.yearConner.blockTitle--mob 2021
					.y8-34__year.yearConner.blockTitle--desc 2021
					.y8-35__2
						picture
							img(src="img/y8-35__2.png" alt="")
					.y8-35__text--1.textBlock
						!='УГНТУ вошел в Программу создания и функционирования карбонового полигона в Республике Башкортостан.'
				.y8-36
					.y8-36__1
						picture
							img(src="img/y8-36__1.png" alt="")
					.y8-36__year.yearConner.blockTitle--mob 2021
					.y8-36__year.yearConner.blockTitle--desc 2021
					.y8-36__text--1.textBlock
						!='Сразу три проекта УГНТУ стали победителями конкурсного отбора получателей стипендии Президента Российской Федерации в 2022-2024 годах для молодых ученых и аспирантов, осуществляющих перспективные научные исследования и разработки по приоритетным направлениям модернизации российской экономики.'
			
				.y8-37
					.y8-37__1
						picture
							img(src="img/y8-37__1.png" alt="")
					.y8-37__year.yearConner.blockTitle--mob 2021
					.y8-37__year.yearConner.blockTitle--desc 2021
					.y8-37__text--1.textBlock
						!='Студент Салаватского филиала УГНТУ Андрей Николаев стал чемпионом Параолимпийских игр 2021 в плавании на дистанции 400 метров свободным стилем и в комбинированной эстафете 4х100 метров, а также серебряным призером на дистанции 100 метров вольным стилем.'
			
				.y8-38
					.y8-38__1
						picture
							img(src="img/y8-38__1.png" alt="")
					.y8-38__year.yearConner.blockTitle--mob 2021
					.y8-38__year.yearConner.blockTitle--desc 2021
					.y8-38__text--1.textBlock
						!='В УГНТУ состоялся I слёт целевых студентов ПАО «Газпром».'

			.y8-39__blockOverlay.blockOverlay
			.y8-39#year2022
				.y8-39__1
					picture
						img(src="img/y8-39__1.png" alt="")
				.y8-39__year.yearConner.blockTitle--mob 2022
				.y8-39__year.yearConner.blockTitle--desc 2022
				.y8-39__text--1.textBlock
					!='Открыто представительство УГНТУ в Казахстане на базе Западно-казахстанского аграрно-технического университета им. Жангир-Хана.'



          


block scripts

