extends ../layouts/default

block variables
	- const title = "2000-2010"
	- var sidebarActive = 2000

block head
	include ../../blocks/modules/overlay/overlayStyle
block content
	.fullPageOverlay.fullPageOverlay--white.active
	.wrapper
		include ../../blocks/modules/sidebar/sidebar
		.scroll-page.y2000
			.y7-110
				.y7-110__numbers
					span.y7-110__numbers-number 2000
					span.y7-110__numbers-line
					span.y7-110__numbers-number 2010
				.y7-110__photos
					img.y7-110__photos-item.y7-110__photos-item--1(src="img/y6-110--1.png" alt="")
					img.y7-110__photos-item.y7-110__photos-item--2(src="img/y6-110--2.png" alt="")
					img.y7-110__photos-item.y7-110__photos-item--3(src="img/y6-110--3.png" alt="")
			.y7-1-80
				.y7-1-80__year.yearConner 2000
			.y7-1__2
				picture
					img(src="img/y7-1--2-bg.png" alt="")
			.y7-1#year2000
				.y7-1__text.y7-1__text--1.textBlock
					!='Сотрудники кафедры бурения УГНТУ и ГНПП "Азимут": М.Р. Мавлютов, Х.И. Акчурин, Л.А. Алексеев, Ф.Г. Галиакбаров, Г.Г. Ишбаев, Г.В. Конесев, Ю.Г. Матвеев, А.Н. Попов, А.И. Спивак и Б.Н. Трушкин  удостоены премии Правительства РФ в области науки и техники.'
				.y7-1__year.yearConner 2010
				.y7-1__title.y7-1__title--1.blockTitle.blockTitle--desc.picture-after
					span Г.В. Конесев
				.y7-1__title.y7-1__title--2.blockTitle.blockTitle--desc.picture-before 
					span Галиакбаров, Г.Г
				.y7-1__title.y7-1__title--3.blockTitle.blockTitle--desc.picture-after
					span Х.И. Акчурин
				.y7-1__title.y7-1__title--4.blockTitle.blockTitle--desc.picture-before
					span.picture-before М.Р. Мавлютов
				.y7-1__title.y7-1__title--5.blockTitle.blockTitle--desc.picture-after
					span.picture-after Галиакбаров, Г.Г
				.y7-1__title.y7-1__title--6.blockTitle.blockTitle--desc.picture-before
					span.picture-before Л.А. Алексеев
				.y7-1__title.y7-1__title--7.blockTitle.blockTitle--desc.picture-after
					span.picture-after Г.В. Конесев
				.y7-1__title.y7-1__title--8.blockTitle.blockTitle--desc.picture-before
					span.picture-before Ишбаев, Г.В

			.y7-2
				.y7-2__year.yearConner 2000
				.y7-2__bg
					.y7-2__bg--1
						picture 
							source(media="(max-width: 1100px)", srcset="img/y7-2__bg.png")
							img(src="img/y7-2__bg.png" alt="")
				.y7-2__title.y7-2__title--1.blockTitle.blockTitle--mob
					!='Сотрудники кафедры бурения УГНТУ и ГНПП "Азимут": <br>М.Р. Мавлютов, <br>Х.И. Акчурин, <br>Л.А. Алексеев, <br>Ф.Г. Галиакбаров, <br>Г.Г. Ишбаев, <br>Г.В. Конесев, <br>Ю.Г. Матвеев, <br>А.Н. Попов, <br>А.И. Спивак и <br>Б.Н. Трушкин удостоены премии Правительства РФ в области науки и техники.'	
				.y7-2__1
					picture
						img(src="img/y7-1--2-bg.png" alt="")
			.y7-3
				
				.y7-3__bg
					.y7-3__bg--1
						img(src="img/y7-3-1.png" alt="")
					.y7-3__title.y7-3__title--1.blockTitle.blockTitle--desc
						span  устройства
						span  роботизированные 
						span  устройства
					.y7-3__year.yearConner.blockTitle--mob 2000
					.y7-3__title.y7-3__title--1.blockTitle.blockTitle--mob
						!='Одно из первых роботизированных  устройств в УГНТУ'
			.y7-4__blockOverlay.blockOverlay
			.y7-4#year2001
				.y7-4__1
					picture
						source(media="(max-width: 1100px)", srcset="img/7-4__1.png")
						img(src="img/7-4__1.png" alt="")
				.y7-4__2
					picture
						img(src="img/7-4__2.png" alt="")
				.y7-4__bg
					.y7-4__year.yearConner 2001
					.y7-4__bg--1
					.y7-4__text--1.textBlock.blockTitle--desc
						!="Введен в эксплуатацию после капитального ремонта 7-й учебный корпус площадью 8000 м2." 			
			
					.y7-4__text--1.textBlock.blockTitle--mob
						!="В марте в УГНТУ побывал министр образования РФ В. М. Филиппов." 			
			

			.y7-5__blockOverlay.blockOverlay
			.y7-5#year2002
				.y7-6
					.y7-6__1
						picture
							img(src="img/y7-6__1.png" alt="")
					.y7-6__bg
						.y7-6__year.yearConner 2002
						.y7-6__bg--1
						.y7-6__text--1.textBlock
							!="В марте в УГНТУ побывал министр образования РФ <br>В. М. Филиппов." 
				
				.y7-7
					.y7-7__year.yearConner.blockTitle--desc 2002
					.y7-7__1
						picture
							img(src="img/y7-7__1.png" alt="")
					//- .y7-7__2
					//- 	picture
					//- 		img(src="img/y4-12__2.png" alt="")
					.y7-7__year.yearConner.blockTitle--mob 2002
					.y7-7__bg
						.y7-7__bg--1
						.y7-7__text--1.textBlock
							!="Первый в регионе выпуск студентов по специальности «Связи с общественностью», внесенной Министерством труда Российской Федерации в «Квалификационный справочник должностей руководителей, специалистов и других служащих». "
			
				.y7-8
					.y7-8__year.yearConner.blockTitle--desc 2002
					.y7-8__1
						picture
							img(src="img/y7-8__1.png" alt="")
					//- .y7-7__2
					//- 	picture
					//- 		img(src="img/y4-12__2.png" alt="")
					.y7-8__year.yearConner.blockTitle--mob 2002
					.y7-8__bg
						.y7-8__bg--1
						.y7-8__text--1.textBlock
							!="Театру УГНТУ «СтАрт» присуждено звание «народный»."
					.y7-8__title.y7-8__title--1.blockTitle
						span  звание
						span  «народный» 

				.y7-9
					.y7-9__1
						picture
							img(src="img/y7-9__1.png" alt="")
					.y7-9__bg
						.y7-9__year.yearConner 2002
						.y7-9__bg--1
						.y7-9__text--1.textBlock
							!="Построен теплоход «Девон», оснащенный новейшим навигационным оборудованием и предназначенный для учебной практики студентов вуза." 

			.y7-10__blockOverlay.blockOverlay
			.y7-10#year2003
				.y7-11
					.y7-11__text.y7-11__text--1.textBlock.blockTitle--desc
						!="4 января университет посетил президент России В.В. Путин"
					.y7-11__year.yearConner.blockTitle--desc 2003
					.y7-11__bg
					.y7-11__1
						picture
							source(media="(max-width: 1100px)", srcset="img/y7-11__1--mob.png")
							img(src="img/y7-11__1.png" alt="")
					.y7-11__2
						img(src="img/y7-11__2.png" alt="")
					.y7-11__year.yearConner.blockTitle--mob 2003
					.y7-11__title.y7-11__title--1.blockTitle.blockTitle--desc
						span 
							!="президент"
						span 
							!="России"
						span 
							!="посетил"
						span 
							!="УГНТУ"
					.y7-11__title.y7-11__title--1.blockTitle.blockTitle--mob
						span 
							!="президент"
						span 
							!="России"
						span 
							!="посетил"
						span 
							!="УГНТУ"
					.y7-11__text.y7-11__text--1.textBlock.blockTitle--mob
						!="4 января университет посетил президент России В.В. Путин"
				.y7-12
					.y7-12__1
						picture
							img(src="img/y7-12__1.png" alt="")
					.y7-12__bg
						.y7-12__year.yearConner 2003
						.y7-12__bg--1
						.y7-12__text--1.textBlock
							!="В марте после ремонта открылся Дом физической культуры." 									
				.y7-13
					.y7-13__1
						picture
							img(src="img/y7-13__1.png" alt="")


			.y7-14__blockOverlay.blockOverlay
			.y7-14#year2004
				.y7-16
					.y7-16__1
						picture
							img(src="img/y7-16__1.png" alt="")
					.y7-16__year.yearConner 2004
					.y7-16__bg--1
					.y7-16__text--1.textBlock
						!='Театр танца "Витраж" стал лауреатом I степени на открытом общенациональном фестивале-конкурсе дарований «Таланты нового века — 2004».'									
				.y7-17
					.y7-17__year.yearConner.blockTitle--desc 2004
					.y7-17__1
						picture
							img(src="img/y7-17__1.png" alt="")
					.y7-17__year.yearConner.blockTitle--mob 2004
					.y7-17__bg
						.y7-17__bg--1
						.y7-17__text--1.textBlock
							!="На регулярной основе в универ проходят ярмарки вакансий с участием ведущих предприятий Топливно-энергетического комплекса"
			
			.y7-18__blockOverlay.blockOverlay
			.y7-18#year2006
				.y7-18__year.yearConner.blockTitle--desc 2006
				.y7-18__1
					picture
						img(src="img/y7-18__1.png" alt="")
				.y7-18__year.yearConner.blockTitle--mob 2006
				.y7-18__bg
					.y7-18__bg--1
					.y7-18__text--1.textBlock
						!="Визит министра образования и науки РФ А.А. Фурсенко."
			
			.y7-19__blockOverlay.blockOverlay
			.y7-19#year2007
				.y7-19__year.yearConner.blockTitle--desc 2007
				.y7-19__1
					picture
						img(src="img/y7-19__1.png" alt="")
				.y7-19__year.yearConner.blockTitle--mob 2007
				.y7-19__bg
					.y7-19__bg--1
					.y7-19__text--1.textBlock
						!='Первокурсники активно участвуют в творческой жизни университета. Особенно популярен конкурс "Премьер".'
			
			.y7-20__blockOverlay.blockOverlay
			.y7-20#year2008
				.y7-20__year.yearConner.blockTitle--desc 2008
				.y7-20__1
					picture
						img(src="img/y7-20__1.png" alt="")
				.y7-20__year.yearConner.blockTitle--mob 2008
				.y7-20__bg
					.y7-20__bg--1
					.y7-20__text--1.textBlock
						!='19 мая после капитального ремонта состоялось открытие учебно-лабораторного корпуса № 2.'
				.y7-21
					.y7-21__1
						picture
							img(src="img/y7-21__1.png" alt="")
					.y7-21__year.yearConner.blockTitle--mob 2008
					.y7-21__bg
						.y7-21__year.yearConner.blockTitle--desc 2008
						.y7-21__bg--1
						.y7-21__text--1.textBlock
							!='15 октября в УГНТУ впервые состоялась защита докторской диссертации иностранным гражданином. Представитель Республики Мозамбик Консейсао Аугусто Агостино защитил докторскую диссертацию на тему «Разработка новых сорбентов и адгезионных нефтесборщиков для сбора аварийных разливов углеводородов» (научн. рук. Н.А. Самойлов).'
						.y7-21__2
							picture
								img(src="img/y7-21__2.png" alt="")
			.y7-22__blockOverlay.blockOverlay
			.y7-22
				.y7-23
					.y7-23__year.yearConner.blockTitle--desc 2008
					.y7-23__1
						picture
							img(src="img/y7-23__1.png" alt="")
					.y7-23__year.yearConner.blockTitle--mob 2008
					.y7-23__bg
						.y7-23__bg--1
					.y7-23__text--1.textBlock
						!='Студентка гр. ПБ-07-01 Оксана Савченко стала трехкратной чемпионкой в плавании на параолимпиаде в Пекине. Затем в 2012 году стала пятикратной чемпионкой в параолимпиаде в Лондоне.'
					.y7-23__2
						picture
							img(src="img/y7-23__2.png" alt="")
					.y7-23__3
						picture
							img(src="img/y7-23__3.png" alt="")
				.y7-24
					.y7-24__year.yearConner.blockTitle--desc 2008
					.y7-24__1
						picture
							img(src="img/y7-24__1.png" alt="")
					.y7-24__year.yearConner.blockTitle--mob 2008
					.y7-24__text--1.textBlock
						!='28 ноября Президент Башкортостана открыл образовательный центр «Музей истории УГНТУ» и принял участие в торжествах по случаю 60-летия университета.'
					.y7-24__2
						picture
							img(src="img/y7-24__2.png" alt="")
					.y7-24__3
						picture
							img(src="img/y7-24__3.png" alt="")
			.y7-25__blockOverlay.blockOverlay
			.y7-25#year2009
				.y7-25__1
					picture
						img(src="img/y7-25__1.png" alt="")
				.y7-25__year.yearConner.blockTitle--mob 2009
				.y7-25__bg
					.y7-25__year.yearConner.blockTitle--desc 2009
					.y7-25__bg--1
					.y7-25__text--1.textBlock
						!='Сборная КВН УГНТУ выиграла Кубок вузов Башкортостана.'

block scripts

