extends ../layouts/default

block variables
	- const title = "1960-1969"
	- var sidebarActive = 1960

block head
	include ../../blocks/modules/overlay/overlayStyle
block content
	.fullPageOverlay.active
	.wrapper
		include ../../blocks/modules/sidebar/sidebar
		.scroll-page.y1960
			.y3-1



block scripts
	.fullPageOverlay.active
		.wrapper
			include ../../blocks/modules/sidebar/sidebar
			.scroll-page.y1950
				.y3-1
					.y3-1__numbers
						span.y3-1__numbers-number 1960
						span.y3-1__numbers-line
						span.y3-1__numbers-number 1966
					.y3-1__photos
						img.y3-1__photos-item.y3-1__photos-item--1(src="img/o1-1.webp" alt="")
						img.y3-1__photos-item.y3-1__photos-item--2(src="img/o1-2.webp" alt="")
						img.y3-1__photos-item.y3-1__photos-item--3(src="img/o1-3.webp" alt="")
			
				.y3-2
					.y3-2__year.yearConner 1960
					.y3-2__top
						img(src="img/r1-1.webp" alt="")
					.y3-2__title.y3-2__title--1.blockTitle
						span Организован
						span  уфимский
						span  заочный
						span  факультет
					.y3-2__text.y3-2__text--1 Открыты курсы повышения квалификации инженерно-технических работников Госкомнефтепродукта РСФСР.
					.y3-2__title.y3-2__title--2.blockTitle
						span Открыты
						span  курсы

					.y3-2__text.y3-2__text--2 Введены в строй механические (учебно-производственные) мастерские.
