extends ../layouts/default

block variables
	- const title = "2000-2010"
	- var sidebarActive = 2000

block head
	include ../../blocks/modules/overlay/overlayStyle
block content
	.fullPageOverlay.fullPageOverlay--white.active
	.wrapper
		include ../../blocks/modules/sidebar/sidebar
		.scroll-page.y2000
			.y7-110
				.y7-110__numbers
					span.y7-110__numbers-number 2000
					span.y7-110__numbers-line
					span.y7-110__numbers-number 2010
				.y7-110__photos
					img.y7-110__photos-item.y7-110__photos-item--1(src="img/y6-110--1.png" alt="")
					img.y7-110__photos-item.y7-110__photos-item--2(src="img/y6-110--2.png" alt="")
					img.y7-110__photos-item.y7-110__photos-item--3(src="img/y6-110--3.png" alt="")
			.y7-1-80
				.y7-1-80__year.yearConner 2000
			.y7-1__2
				picture
					img(src="img/y7-1--2-bg.png" alt="")
			.y7-1#year2000
				.y7-1__text.y7-1__text--1.textBlock
					!='Сотрудники кафедры бурения УГНТУ и ГНПП "Азимут": М.Р. Мавлютов, Х.И. Акчурин, Л.А. Алексеев, Ф.Г. Галиакбаров, Г.Г. Ишбаев, Г.В. Конесев, Ю.Г. Матвеев, А.Н. Попов, А.И. Спивак и Б.Н. Трушкин  удостоены премии Правительства РФ в области науки и техники.'
				.y7-1__year.yearConner 2010
				.y7-1__title.y7-1__title--1.blockTitle.blockTitle--desc.picture-after
					span Г.В. Конесев
				.y7-1__title.y7-1__title--2.blockTitle.blockTitle--desc.picture-before 
					span Галиакбаров, Г.Г
				.y7-1__title.y7-1__title--3.blockTitle.blockTitle--desc.picture-after
					span Х.И. Акчурин
				.y7-1__title.y7-1__title--4.blockTitle.blockTitle--desc.picture-before
					span.picture-before М.Р. Мавлютов
				.y7-1__title.y7-1__title--5.blockTitle.blockTitle--desc.picture-after
					span.picture-after Галиакбаров, Г.Г
				.y7-1__title.y7-1__title--6.blockTitle.blockTitle--desc.picture-before
					span.picture-before Л.А. Алексеев
				.y7-1__title.y7-1__title--7.blockTitle.blockTitle--desc.picture-after
					span.picture-after Г.В. Конесев
				.y7-1__title.y7-1__title--8.blockTitle.blockTitle--desc.picture-before
					span.picture-before Ишбаев, Г.В

			.y7-2
				.y7-2__year.yearConner 2000
				.y7-2__bg
					.y7-2__bg--1
						picture 
							source(media="(max-width: 1100px)", srcset="img/y6-3__bg--mob.png")
							img(src="img/y7-2__bg.png" alt="")
			.y7-3
				//- .y5-3__year.yearConner 1980
				.y7-3__bg
					.y7-3__bg--1
						img(src="img/y7-3-1.png" alt="")
					.y7-3__title.y7-3__title--1.blockTitle.blockTitle--desc
						span  устройства
						span  роботизированные 
						span  устройства

					.y7-3__title.y7-3__title--1.blockTitle.blockTitle--mob
						span  роботизированные 
						span  устройства
			.y7-4__blockOverlay.blockOverlay
			.y7-4#year2001
				.y7-4__wrap
					.y7-4__wrap--line
				.y7-4__1
					picture
						source(media="(max-width: 1100px)", srcset="img/y5-11__1--1.png")
						img(src="img/7-4__1.png" alt="")
				.y7-4__2
					picture
						img(src="img/7-4__2.png" alt="")
				.y7-4__bg
					.y7-4__year.yearConner 2001
					.y7-4__bg--1
					.y7-4__text--1.textBlock
						!="Введен в эксплуатацию после капитального ремонта 7-й учебный корпус площадью 8000 м2." 			
			
			.y7-5__blockOverlay.blockOverlay
			.y7-5#year2002
				.y7-60
					.y7-60__wrap
						.y7-60__wrap--line
					.y7-60__1
						picture
							img(src="img/y5-90__1.png" alt="")
					.y7-60__2
						picture
							img(src="img/y5-90__2.png" alt="")
					.y7-60__bg
						.y7-60__year.yearConner 2002
						.y7-60__bg--1
						.y7-60__title.y7-60__title--1.blockTitle
							span  лауреат премии 
							span  
								!="Совета"
							span  
								!="Министров СССР"
						.y7-60__text--1.textBlock
							!="Доцент В.И. Ионов стал лауреатом премии Совета Министров СССР." 
				.y7-6
					.y7-6__1
						picture
							img(src="img/y7-6__1.png" alt="")
					.y7-6__bg
						.y7-6__year.yearConner 2002
						.y7-6__bg--1
						.y7-6__text--1.textBlock
							!="В марте в УГНТУ побывал министр образования РФ <br>В. М. Филиппов." 
				
				.y7-7
					.y7-7__year.yearConner.blockTitle--desc 2002
					.y7-7__1
						picture
							img(src="img/y7-7__1.png" alt="")
					//- .y7-7__2
					//- 	picture
					//- 		img(src="img/y4-12__2.png" alt="")
					.y7-7__year.yearConner.blockTitle--mob 2002
					.y7-7__bg
						.y7-7__bg--1
						.y7-7__text--1.textBlock
							!="Первый в регионе выпуск студентов по специальности «Связи с общественностью», внесенной Министерством труда Российской Федерации в «Квалификационный справочник должностей руководителей, специалистов и других служащих». "
			
				.y7-8
					.y7-8__year.yearConner.blockTitle--desc 2002
					.y7-8__1
						picture
							img(src="img/y7-8__1.png" alt="")
					//- .y7-7__2
					//- 	picture
					//- 		img(src="img/y4-12__2.png" alt="")
					.y7-8__year.yearConner.blockTitle--mob 2002
					.y7-8__bg
						.y7-8__bg--1
						.y7-8__text--1.textBlock
							!="Театру УГНТУ «СтАрт» присуждено звание «народный»."
					.y7-8__title.y7-8__title--1.blockTitle
						span  звание
						span  «народный» 

				.y7-9
					.y7-9__1
						picture
							img(src="img/y7-9__1.png" alt="")
					.y7-9__bg
						.y7-9__year.yearConner 2002
						.y7-9__bg--1
						.y7-9__text--1.textBlock
							!="Построен теплоход «Девон», оснащенный новейшим навигационным оборудованием и предназначенный для учебной практики студентов вуза." 

			.y7-10__blockOverlay.blockOverlay
			.y7-10#year2003
				.y7-11
					.y7-11__text.y7-11__text--1.textBlock.blockTitle--desc
						!="4 января университет посетил президент России В.В. Путин"
					.y7-11__year.yearConner.blockTitle--desc 2003
					.y7-11__bg
					.y7-11__1
						picture
							source(media="(max-width: 1100px)", srcset="img/y7-11__1--mob.png")
							img(src="img/y7-11__1.png" alt="")
					.y7-11__year.yearConner.blockTitle--mob 2003
					.y7-11__title.y7-11__title--1.blockTitle.blockTitle--desc
						span 
							!="президент"
						span 
							!="России"
						span 
							!="посетил"
						span 
							!="УГНТУ"
					.y7-11__title.y7-11__title--1.blockTitle.blockTitle--mob
						span 
							!="президент"
						span 
							!="России"
						span 
							!="посетил"
						span 
							!="УГНТУ"
					.y7-11__text.y7-11__text--1.textBlock.blockTitle--mob
						!="4 января университет посетил президент России В.В. Путин"
				.y7-12
					.y7-12__1
						picture
							img(src="img/y7-12__1.png" alt="")
					.y7-12__bg
						.y7-12__year.yearConner 2003
						.y7-12__bg--1
						.y7-12__text--1.textBlock
							!="В марте после ремонта открылся Дом физической культуры." 									
				.y7-13
					.y7-13__1
						picture
							img(src="img/y7-13__1.png" alt="")
block scripts

