extends ../layouts/default

block variables
	- const title = "1970-1978"
	- var sidebarActive = 1970

block head
	include ../../blocks/modules/overlay/overlayStyle
block content
	.fullPageOverlay.fullPageOverlay--white.active
	.wrapper
		include ../../blocks/modules/sidebar/sidebar
		.scroll-page.y1970
			.y4-100
				.y4-100__numbers
					span.y4-100__numbers-number 1970
					span.y4-100__numbers-line
					span.y4-100__numbers-number 1979
			.y4-1#year1970
				.y4-1__text.y4-1__text--1.textBlock
					!="Ректором института назначен доктор технических наук, профессор Загидулла Исхакович Сюняев." 
				.y4-1__year.yearConner 1970
				.y4-1__bg
					.y4-1__bg--1
						img(src="img/s1-bg.png" alt="")
					.y4-1__man
						picture
							img(src="img/s1-1.png" alt="")
					.y4-1__title.y4-1__title--1.blockTitle.blockTitle--desc
						span  Загидулла
						span  
							!="Исхакович <br> Сюняев"
				.y4-1__title.y4-1__title--1.blockTitle.blockTitle--mob
					span  Загидулла
					span  
						!="Исхакович <br> Сюняев"
			.y4-2#year1971
				.y4-2__text.y4-2__text--1.textBlock
					!="За активное участие в студенческом строительном движении студент Х.Г. Нагуманов награжден медалью." 
				.y4-2__year.yearConner 1971
				.y4-2__bg
					.y4-2__bg--1
						img(src="img/y4-2__bg-3.png" alt="")
					.y4-2__2
						picture
							img(src="img/y4-2__2.png" alt="")
					.y4-2__title.y4-2__title--1.blockTitle.blockTitle--desc
						span  За трудовое 
						span  
							!="отличие"
				.y4-2__title.y4-2__title--1.blockTitle.blockTitle--mob
					span  Медаль
					span  За трудовое 
					span  
						!="отличие"
			.y4-3
				.y4-3__text.y4-3__text--1.textBlock
					!="Профессор И.Л. Мархасин стал лауреатом премии им. И.М. Губкина." 
				.y4-3__text.y4-3__text--2.section2__text
					!="“Дайте созреть и окрепнуть внутреннему человеку, дайте ему время и средства подчинить себе наружного, и у нас будут гениальные ученые, а главное - люди!”" 
				.y4-3__year.yearConner 1971
				.y4-3__bg
					.y4-3__bg--1
						img(src="img/y4-3__bg.png" alt="")
					.y4-3__1
						picture
							img(src="img/y4-3__1.png" alt="")
					.y4-3__2
						picture
							img(src="img/y4-3__2.png" alt="")
			.y4-4
				.y4-4__text.y4-4__text--2.textBlock
					!="Разработанная на технологическом факультете новая форма обучения обеспечивала органическое соединение процесса образования и студенческих научно-исследовательских работ, имевших прикладное значение." 
				.y4-4__text.y4-4__text--1.textBlock
					!="На технологическом факультете создан первый в стране студенческий научно-исследовательский институт." 
				.y4-4__text.y4-4__text--3.textBlock--16
					!="Вручение ректору УНИ Сюняеву З.И. символического ключа для открытия СтудНИИ" 
				.y4-4__year.yearConner 1971
				.y4-4__bg
					.y4-4__bg--1
						img(src="img/y4-4__bg.png" alt="")
			.y4-5#year1972
				.y4-5__text.y4-5__text--1.textBlock
					!="В институте состоялась первая защита докторской диссертации, представленной заведующим кафедрой В.Ф. Новоселовым." 
				.y4-5__year.yearConner 1972
				.y4-5__bg
					.y4-5__bg--1
						img(src="img/y4-5__bg.png" alt="")
					.y4-5__1
						picture
							img(src="img/y4-5__1.png" alt="")
					.y4-5__2
						picture
							img(src="img/y4-5__2.png" alt="")
				.y4-5__3
					picture
						img(src="img/y4-5__3.png" alt="")
				.y4-5__4
					picture
						img(src="img/y4-5__4.png" alt="")
				.y4-6
					.y4-6__text.y4-6__text--1.textBlock
						!="Профилактическому средству «Ниогрин» присвоен государственный Знак качества." 
					.y4-6__year.yearConner 1972
					.y4-6__bg
						.y4-6__bg--1
						.y4-6__1
							picture
								img(src="img/y4-6__1.png" alt="")
						.y4-6__2
							picture
								img(src="img/y4-6__2.png" alt="")
				.y4-7
					.y4-7__text.y4-7__text--1.textBlock
						!="Модель экстракционной колонны, разработанная коллективом кафедры «Машины и аппараты химических производств», удостоена медали ВДНХ." 
					.y4-7__year.yearConner 1972
					.y4-7__bg
						.y4-7__bg--1
						.y4-7__1
							picture
								img(src="img/y4-7__1.png" alt="")
						.y4-7__2
							picture
								img(src="img/y4-7__2.png" alt="")
						.y4-7__title.y4-7__title--1.blockTitle
							span 
								!="экстракционные"
							span 
								!="колонны"
			.y4-8__blockOverlay.blockOverlay
			.y4-8#year1973
				.y4-8__1
					picture
						img(src="img/y4-8__1.png" alt="")
				.y4-8__bg
					.y4-8__year.yearConner 1973
					.y4-8__bg--1
					.y4-8__text.y4-8__text--1.textBlock
						!="Модель экстракционной колонны, разработанная коллективом кафедры «Машины и аппараты химических производств», удостоена медали ВДНХ." 
				.y4-9
					.y4-9__year.yearConner 1973
					.y4-9__1
						picture
							img(src="img/y4-9__1.png" alt="")
					.y4-9__bg
						.y4-9__bg--1
							img(src="img/y4-9__2.png" alt="")
						.y4-9__text.y4-9__text--1.textBlock
							!="Двум художественным коллективам — хору и ансамблю народного танца — присвоено звание народных." 
					.y4-9__2
						picture
							img(src="img/y4-9__3.png" alt="")
					.y4-9__3
						picture
							img(src="img/y4-9__4.png" alt="")
			.y4-10__blockOverlay.blockOverlay
			.y4-10
				.y4-10__1
					picture
						img(src="img/y4-10__1.png" alt="")
				.y4-10__bg
					.y4-10__bg--1
						.y4-10__year.yearConner 1973
					.y4-10__text.y4-10__text--1.textBlock
						!="Студенческому научно-исследовательскому институту технологического факультета присуждена премия Ленинского комсомола." 
					.y4-10__title.y4-10__title--1.blockTitle
						span 
							!="Ленинский"
						span 
							!="комсомол"
				.y4-11
					.y4-11__wrap
						.y4-11__wrap--line
					.y4-11__1
						picture
							img(src="img/y4-11__1.png" alt="")
					.y4-11__bg
						.y4-11__year.yearConner 1973
						.y4-11__bg--1
						.y4-11__text--1.textBlock
							!="Сдан в эксплуатацию двенадцатиэтажный дом для аспирантов и молодых преподавателей по ул. Комарова 18. Позже (1976 год) было построено 12-этажное общежитие факультета повышения квалификации УНИ (Комарова, 12), а в 1982 году - еще один 12-этажный дом для сотрудников и преподавателей вуза (Комарова, 14)." 
					.y4-11__text.y4-11__text--2.textBlock--16
						!="На снимке: жилые дома преподавателей и сотрудников Уфимского нефтяного по ул. Комарова." 
				.y4-12
					.y4-12__year.yearConner 1973
					.y4-12__1
						picture
							img(src="img/y4-12__1.png" alt="")
					.y4-12__2
						picture
							img(src="img/y4-12__2.png" alt="")
					.y4-12__bg
						.y4-12__bg--1
						.y4-12__text--1.textBlock
							!="Впервые состоялся обмен студенческими строительными отрядами с высшей технологической школой г. Мерзебурга (округ Галле, ГДР)." 
			.y4-13__blockOverlay.blockOverlay
			.y4-13#year1975
				.y4-13__text.y4-13__text--1.textBlock
					!="Открыт первый в стране факультет трубопроводного транспорта. Деканом факультета назначен А.И. Гольянов"
				.y4-13__year.yearConner 1975
				.y4-13__bg
					.y4-13__bg--1
						img(src="img/y4-13__bg.png" alt="")
					.y4-13__1
						picture
							img(src="img/y4-13__1.png" alt="")
				.y4-14
					.y4-14__text.y4-14__text--1.textBlock
						!="Профилакторий института признан лучшим в РСФСР"
					.y4-14__year.yearConner 1975
					.y4-14__bg
					.y4-14__1
						picture
							img(src="img/y4-14__1.png" alt="")
					.y4-14__2
						picture
							img(src="img/y4-14__2.png" alt="")
					.y4-14__3
						picture
							img(src="img/y4-14__3.png" alt="")
			.y4-15__blockOverlay.blockOverlay
			.y4-15#year1976
				.y4-15__text.y4-15__text--1.textBlock
					!="Ректором института назначен доктор технических наук, профессор Александр Иванович Спивак."
				.y4-15__year.yearConner 1976
				.y4-15__bg
					.y4-15__bg--1
						img(src="img/y4-15__bg.png" alt="")
				.y4-15__1
					picture
						img(src="img/y4-15__1.png" alt="")
				.y4-15__title.y4-15__title--1.blockTitle
					span 
						!="Александр"
					span 
						!="Иванович"
					span 
						!="Спивак"
			.y4-16__blockOverlay.blockOverlay
			.y4-16#year1977
				.y4-16__text.y4-16__text--1.textBlock
					!="Сдан в эксплуатацию корпус горно-нефтяного факультета с буровым стендом."
				.y4-16__year.yearConner 1977
				.y4-16__bg
				.y4-16__1
					picture
						img(src="img/y4-16__1.png" alt="")
				.y4-16__2
					picture
						img(src="img/y4-16__2.png" alt="")
				.y4-16__3
					picture
						img(src="img/y4-16__3.png" alt="")
			.y4-17__blockOverlay.blockOverlay
			.y4-17#year1978
				.y4-17__text.y4-17__text--1.textBlock
					!="Сдана в эксплуатацию студенческая столовая на 320 посадочных мест в СОЛУНИ."
				.y4-17__year.yearConner 1978
				.y4-17__bg
					.y4-17__bg--1
						img(src="img/y4-17__1.png" alt="")
				.y4-17__title.y4-17__title--1.blockTitle
					span 
						!="320"
					span 
						!="мест"

block scripts

