extends ../layouts/default

block variables
	- const title = "1990-1999"
	- var sidebarActive = 1990

block head
	include ../../blocks/modules/overlay/overlayStyle
block content
	.fullPageOverlay.fullPageOverlay--white.active
	.wrapper
		include ../../blocks/modules/sidebar/sidebar
		.scroll-page.y1990
			.y6-110
				.y6-110__numbers
					span.y6-110__numbers-number 1990
					span.y6-110__numbers-line
					span.y6-110__numbers-number 1999
				.y6-110__photos
					img.y6-110__photos-item.y6-110__photos-item--1(src="img/y5-2.png" alt="")
					img.y6-110__photos-item.y6-110__photos-item--2(src="img/y5-6__1.png" alt="")
					img.y6-110__photos-item.y6-110__photos-item--3(src="img/y5-14__1.png" alt="")
			.y6-1-80
				.y6-1-80__year.yearConner 1990
			.y6-1#year1990
				//- .y6-1__text.y6-1__text--1.textBlock
				//- 	!="Вхождение в координирующую структуру нефтегазовых вузов страны – содружество семи нефтяных вузов."
				.y6-1__year.yearConner 1990
				.y6-1__bg
					.y6-1__bg--1
						img(src="img/y6-1--2.png" alt="")
				.y6-1__title.y6-1__title--1.blockTitle.blockTitle--desc
					span  первый
					span  
						!="выпуск"
					span  
						!="иностранных"
					span  
						!="студентов"
				.y6-1__title.y6-1__title--1.blockTitle.blockTitle--mob
					span  первый
					span  
						!="выпуск"
					span  
						!="иностранных"
					span  
						!="студентов"
			.y6-2
				//- .y6-3__year.yearConner 1980
				.y6-2__text.y6-2__text--1.textBlock
					!="На кафедре бурения внедряются в учебный процесс 10 компьютеров IBM XT." 
				.y6-2__bg
					.y6-2__bg--1
						img(src="img/y6-2.png" alt="")
				.y6-2__2
					picture
						img(src="img/y2-2--2.png" alt="")
				.y6-2__3.y6-2__3--1
					picture
						img(src="img/y6-2__3.png" alt="")
				.y6-2__3.y6-2__3--2
					picture
						img(src="img/y6-2__3.png" alt="")
				.y6-2__3.y6-2__3--3
					picture
						img(src="img/y6-2__3.png" alt="")
				.y6-2__3.y6-2__3--4
					picture
						img(src="img/y6-2__3.png" alt="")
				.y6-2__3.y6-2__3--5
					picture
						img(src="img/y6-2__3.png" alt="")
				.y6-2__3.y6-2__3--6
					picture
						img(src="img/y6-2__3.png" alt="")
				.y6-2__3.y6-2__3--6
					picture
						img(src="img/y6-2__3.png" alt="")
				.y6-2__4
					picture
						img(src="img/y6-2__4.png" alt="")
		
			.y6-3
				.y6-3__text.y6-3__text--1.textBlock
					!="Занятия на первом тренажёре проводят профессор Л.А. Алексеев и доцент Т.О. Акбулатов." 
				.y6-3__year.yearConner 1990
				.y6-3__bg
					.y6-3__bg--1
						img(src="img/y6-3__bg.png" alt="")
			.y6-4__blockOverlay.blockOverlay
			.y6-4#year1991
				.y5-13
					.y5-13__1
						picture
							img(src="img/y6-4__1.png" alt="")
					.y5-13__bg
						.y5-13__year.yearConner 1991
						.y5-13__bg--1
						.y5-13__text--1.textBlock.blockTitle--desc
							!="Начата сверхплановая подготовка студентов по контракту." 
						.y5-13__text--1.textBlock.blockTitle--mob
							!="Начата сверхплановая подготовка студентов по контракту." 
				.y5-14
					.y5-14__year.yearConner.blockTitle--desc 1991
					.y5-14__1
						picture
							img(src="img/y6-5__1.png" alt="")
					.y5-14__year.yearConner.blockTitle--mob 1991
					.y5-14__bg
						.y5-14__bg--1
						.y5-14__text--1.textBlock
							!="Открыта докторантура при УНИ."

block scripts

