extends ../layouts/default

block variables
	- const title = "1960-1969"
	- var sidebarActive = 1960

block head
	include ../../blocks/modules/overlay/overlayStyle
block content
	.fullPageOverlay.active
	.wrapper
		include ../../blocks/modules/sidebar/sidebar
		.scroll-page.y1960
			.y3-1
				.y3-1__numbers
					span.y3-1__numbers-number 1960
					span.y3-1__numbers-line
					span.y3-1__numbers-number 1966
				.y3-1__photos
					img.y3-1__photos-item.y3-1__photos-item--1(src="img/r0-1.webp" alt="")
					img.y3-1__photos-item.y3-1__photos-item--2(src="img/r0-2.webp" alt="")
					img.y3-1__photos-item.y3-1__photos-item--3(src="img/r0-3.webp" alt="")

			.y3-2
				.y3-2__year.yearConner 1960
				.y3-2__top
					img(src="img/r1-1.webp" alt="")
				.y3-2__title.y3-2__title--1.blockTitle
					span Организован
					span  уфимский
					span  заочный
					span  факультет

				.y3-2__star-block
					img(src="img/r1-3.webp" alt="")
					img(src="img/r1-4.webp" alt="")

				.y3-2__text.y3-2__text--1 Открыты курсы повышения квалификации инженерно-технических работников Госкомнефтепродукта РСФСР.
				.y3-2__title.y3-2__title--2.blockTitle
					span Открыты
					span  курсы

				.y3-2__text.y3-2__text--2 Введены в строй механические (учебно-производственные) мастерские.
				.y3-2__label-block
					span Занятия в учебном-производственной мастерской
					img(src="img/r1-5.webp" alt="")
				.y3-2__label Мастерская снаружи
				.y3-2__cloud
					picture
						img.y3-2__cloud-1(src="img/r1-6.webp" alt="")
					picture
						img.y3-2__cloud-2(src="img/r1-7.webp" alt="")

			.y3-3
				.y3-3__background
					img(src="img/r2-1.webp" alt="")
				.y3-3__year.yearConner 1962
				.y3-3__text Созданы при УНИ Салаватский вечерний и Стерлитамакский вечерний общетехнический факультеты.


block scripts

