extends ../layouts/default

block variables
	- const title = "1960-1969"
	- var sidebarActive = 1960

block head
	include ../../blocks/modules/overlay/overlayStyle
block content
	.fullPageOverlay.fullPageOverlay--white.active
	.wrapper
		include ../../blocks/modules/sidebar/sidebar
		.scroll-page.y1960
			.y3-1
				.y3-1__numbers
					span.y3-1__numbers-number 1960
					span.y3-1__numbers-line
					span.y3-1__numbers-number 1966
				.y3-1__photos
					img.y3-1__photos-item.y3-1__photos-item--1(src="img/r0-1.webp" alt="")
					img.y3-1__photos-item.y3-1__photos-item--2(src="img/r0-2.webp" alt="")
					img.y3-1__photos-item.y3-1__photos-item--3(src="img/r0-3.webp" alt="")

			.y3-2#year1960
				.y3-2__bg
				.y3-2__year.yearConner 1960
				.y3-2__top
					.y3-2__top-bg
						img(src="img/r1-2.webp" alt="")
					.y3-2__top-man
						picture
							source(srcset="img/mobile/r1-1.webp" media="(max-width: 1100px)")
							img(src="img/r1-1.webp" alt="")
				.y3-2__title.y3-2__title--1.blockTitle
					span Организован
					span  уфимский
					span  заочный
					span  факультет


				.y3-2__cloud
					picture
						img.y3-2__cloud-1(src="img/r1-6.webp" alt="")
					picture
						img.y3-2__cloud-2(src="img/r1-7.webp" alt="")
					picture
						img.y3-2__cloud-3(src="img/r1-6.webp" alt="")

				.y3-2__azs
					img.y3-2__azs-photo(src="img/r1-4.webp" alt="")
					img.y3-2__azs-logo(src="img/r1-3.webp" alt="")

				.y3-2__text.y3-2__text--1 Открыты курсы повышения квалификации инженерно-технических работников Госкомнефтепродукта РСФСР.
				.y3-2__title.y3-2__title--2.blockTitle
					span Открыты
					span  курсы

				.y3-2__text.y3-2__text--2 Введены в строй механические (учебно-производственные) мастерские.
				.y3-2__label-block
					span Занятия в учебном-производственной мастерской
					picture
						source(srcset="img/mobile/r1-5.webp" media="(max-width: 1100px)")
						img(src="img/r1-5.webp" alt="")
				.y3-2__label Мастерская снаружи



			.y3-3#year1962
				.y3-3__background
					picture
						source(srcset="img/mobile/r2-1.webp" media="(max-width: 1100px)")
						img(src="img/r2-1.webp" alt="")
				.y3-3__year.yearConner 1962
				.y3-3__text Созданы при УНИ Салаватский вечерний и Стерлитамакский вечерний общетехнический факультеты.
				.y3-3__overlay.blockOverlay

			.y3-4.horisontalBlock
				.y3-4__flex.horisontalBlock__flex
					.y3-4__first
						.y3-4__first-image.allHeightImage
							picture
								source(srcset="img/mobile/r1-3.webp" media="(max-width: 1100px)")
								img(src="img/r3-1.webp" alt="")
						.y3-4__first-title.blockTitle.inline
							span.big 2000
							span  м<sup>2</sup>
					.y3-4__second
						.y3-4__text
							.y3-4__year.yearConner 1962
							.y3-4__second-text
								.y3-4__second-text-col.textBlock Сдан в эксплуатацию первый учебный корпус общей площадью 21000 м<sup>2</sup>.
						.y3-4__second-image
							picture
								source(srcset="img/mobile/r3-2.webp" media="(max-width: 1100px)")
								img(src="img/r3-2.webp" alt="")
							span строительство главного учебного корпуса УНИ
				.y3-4__overlay.blockOverlay

			.y3-5.horisontalBlock#year1964
				.y3-5__image
					picture
						source(srcset="img/mobile/r4-1.webp" media="(max-width: 1100px)")
						img(src="img/r4-1.webp" alt="")
				.y3-5__year.yearConner 1964
				.y3-5__title.blockTitle
					span Всеволод
					span  Леонидович
					span  Березин
				.y3-5__text
					.y3-5__text-col.textBlock Ректором института назначен кандидат технических наук, доцент Всеволод Леонидович Березин.
				.y3-5__overlay.blockOverlay

					
			.y3-6.horisontalBlock#year1966
				.y3-6__first.horisontalBlock__flex
					.y3-6__first-bg.allHeightImage
						picture
							source(srcset="img/mobile/r5-1.webp" media="(max-width: 1100px)")
							img(src="img/r5-1.webp" alt="")
					.y3-6__first-year.yearConner 1966
					.y3-6__first-text
						.y3-6__first-text-col.textBlock Первые выпускники курсов повышения квалификации руководящих работников и специалистов Госкомнефтепродукта РСФСР.

				.y3-6__second.horisontalBlock__flex
					.y3-6__second-image.allHeightImage
						picture
							source(srcset="img/mobile/r5-2.webp" media="(max-width: 1100px)")
							img(src="img/r5-2.webp" alt="")
					picture
						source(srcset="img/mobile/r5-3.webp" media="(max-width: 1100px)")
						img.y3-6__second-image2(src="img/r5-3.webp" alt="")
					.y3-6__second-text
						.y3-6__second-year.yearConner 1966
						.y3-6__second-text-col.textBlock Летом на берегу Павловского водохранилища развернут Спортивно-оздоровительный лагерь Уфимского нефтяного института – СОЛУНИ. Лагерь начинали обустраивать 40 энтузиастов преподавателей и сотрудников: нексколько брезентовых палаток, деревянная кухня… Сегодня в СОЛУНИ каждое лето отдыхают более 1200 студентов и сотрудников университета, 600 студентов проходят практику.

				.y3-6__last.horisontalBlock__flex
					.y3-6__last-image
						picture
							source(srcset="img/mobile/r5-4.webp" media="(max-width: 1100px)")
							img(src="img/r5-4.webp" alt="")
					.y3-6__last-title.blockTitle
						span Вышел
						span  первый
						span  номер
					.y3-6__last-text
						.y3-6__last-year.yearConner 1966
						.y3-6__last-text-col.textBlock Вышел первый номер многотиражной газеты «‎За нефтяные кадры».

				.y3-6__overlay.blockOverlay



			.y3-7.horisontalBlock#year1967
				.y3-7__first.horisontalBlock__flex
					.y3-7__first-bg.allHeightImage
						picture
							source(srcset="img/mobile/r6-1.webp" media="(max-width: 1100px)")
							img(src="img/r6-1.webp" alt="")
					.y3-7__first-year.yearConner 1967
					.y3-7__first-title.blockTitle
						span.big 1030
						span  мест
					.y3-7__first-text
						picture
							source(srcset="img/mobile/r6-2.webp" media="(max-width: 1100px)")
							img.y3-7__text-image(src="img/r6-2.webp" alt="")
						.y3-7__first-text-col.textBlock Сданы в эксплуатацию два студенческих общежития на 1030 мест: № 3 и № 4

				.y3-7__second.horisontalBlock__flex
					.y3-7__second-title.blockTitle
						span Владимир
						span  Владимирович
						span  Девликамов
					.y3-7__second-text
						.y3-7__second-year.yearConner 1967
						.y3-7__second-text-col.textBlock Профессор  Владимирович Девликамов - первый сотрудник института - удостоен высокого звания «‎Почетный нефтяник СССР»‎.
					.y3-7__second-image.allHeightImage
						picture
							source(srcset="img/mobile/r6-4.webp" media="(max-width: 1100px)")
							img(src="img/r6-4.webp" alt="")
					img.y3-7__second-image2(src="img/r6-3.webp" alt="")
				.y3-7__overlay.blockOverlay

			.y3-8.horisontalBlock#year1968
				.y3-8__image.allHeightImage
					picture
						source(srcset="img/mobile/r7-1.webp" media="(max-width: 1100px)")
						img(src="img/r7-1.webp" alt="")
				.y3-8__year.yearConner 1968
				.y3-8__text
					.y3-8__text-col.textBlock Созданы два новых факультета: инженерно-экономический и&nbsp;автоматизации производственных процессов.

				.y3-8__overlay.blockOverlay


block scripts

