extends ../layouts/default

block variables
	- const title = "1980-1989"
	- var sidebarActive = 1980

block head
	include ../../blocks/modules/overlay/overlayStyle
block content
	.fullPageOverlay.fullPageOverlay--white.active
	.wrapper
		include ../../blocks/modules/sidebar/sidebar
		.scroll-page.y1980
			.y5-110
				.y5-110__numbers
					span.y5-110__numbers-number 1980
					span.y5-110__numbers-line
					span.y5-110__numbers-number 1989
				.y5-110__photos
					img.y5-110__photos-item.y5-110__photos-item--1(src="img/y5-2.png" alt="")
					img.y5-110__photos-item.y5-110__photos-item--2(src="img/y5-14__2.png" alt="")
					img.y5-110__photos-item.y5-110__photos-item--3(src="img/y5-7__1.png" alt="")
			.y5-1-80
				.y5-1-80__year.yearConner 1980
			.y5-1#year1980
				.y5-1__text.y5-1__text--1.textBlock
					!="Вхождение в координирующую структуру нефтегазовых вузов страны – содружество семи нефтяных вузов."
				.y5-1__year.yearConner 1980
				.y5-1__bg
					.y5-1__bg--1
						img(src="img/y5-1--2.png" alt="")
					.y5-1__man
						picture
							img(src="img/y5-1.png" alt="")
				.y5-1__2
					picture
						img(src="img/y5-1--3.png" alt="")
				.y5-1__title.y5-1__title--1.blockTitle.blockTitle--desc
					span  содружество
					span  
						!="семи"
					span  
						!="нефтяных"
					span  
						!="вузов"
			.y5-2
				//- .y5-3__year.yearConner 1980
				.y5-2__bg
					.y5-2__bg--1
						img(src="img/y5-2.png" alt="")
				.y5-2__title.y5-2__title--1.blockTitle.blockTitle--desc
					span  коллектив
					span  кафедры
					span  АТПП
					span  коллектив
					span  кафедры
					span  АТПП
				.y5-2__title.y5-2__title--1.blockTitle.blockTitle--mob
					span  коллектив
					span  кафедры АТП				
			.y5-3
				.y5-3__text.y5-3__text--1.textBlock
					!="Студент технологического факультета И. Соколов стал первым Олимпийским чемпионом из Башкирии." 
				.y5-3__year.yearConner 1980
				.y5-3__bg
					.y5-3__bg--1
						img(src="img/y5-3--2.png" alt="")
				.y5-3__3
					picture
						img(src="img/y5-3--3.png" alt="")
				.y5-3__2
					picture
						img(src="img/y5-3--1.png" alt="")
				.y5-3__title.y5-3__title--1.blockTitle.blockTitle--desc
					span  олимпийский 
					span  
						!="чемпион"
				.y5-3__title.y5-3__title--1.blockTitle.blockTitle--mob
					span  олимпийский 
					span  
						!="чемпион"
			.y5-4
				.y5-4__text.y5-4__text--1.textBlock
					!="В микрорайоне “Зеленая роща” введены первые объекты инфораструктуры строительного факультета: учебный корпус № 5, 12-ти этажное общежитие и столовая. В строительстве активно участвовали студенты факультета." 
				//- .y5-4__year.yearConner 1980
				.y5-4__bg
					.y5-4__bg--1
						img(src="img/y5-4--1.png" alt="")
				.y5-4__2
					picture
						img(src="img/y5-4--2.png" alt="")
				.y5-4__3
					picture
						img(src="img/y5-4--3.png" alt="")
			.y5-5__blockOverlay.blockOverlay
			.y5-5#year1982
				.y5-5__1
					picture
						img(src="img/y5-5--1.png" alt="")
				.y5-5__bg
					.y5-5__bg--1
						.y5-5__year.yearConner.blockTitle--desc 1982
					.y5-5__year.yearConner.blockTitle--mob 1982
					.y5-5__text.y5-5__text--1.textBlock
						!="Институт удостоен Диплома первой степени выставка достижений народного хозяйства СССР." 
					.y5-5__title.y5-5__title--1.blockTitle
						span 
							!="Диплом"
						span 
							!="ВДНХ"
						span 
							!="СССР"
				.y5-6
					.y5-6__wrap
						.y5-6__wrap--line
					.y5-6__1
						picture
							img(src="img/y5-6__1.png" alt="")
					.y5-6__bg
						.y5-6__year.yearConner 1982
						.y5-6__bg--1
						.y5-6__text--1.textBlock
							!="Визит в УНИ министра высшего образования СССР В.П. Елютина." 
				.y5-7
					.y5-7__year.yearConner.blockTitle--desc 1982
					.y5-7__1
						picture
							img(src="img/y5-7__1.png" alt="")
					//- .y5-7__2
					//- 	picture
					//- 		img(src="img/y4-12__2.png" alt="")
					.y5-7__year.yearConner.blockTitle--mob 1982
					.y5-7__bg
						.y5-7__bg--1
						.y5-7__text--1.textBlock
							!="Сформирована комплексная научно-техническая программа «Реактив» . Головная организация — Уфимский нефтяной институт. "
			
			.y5-8__blockOverlay.blockOverlay
			.y5-8#year1983
				.y5-9
					.y5-9__wrap
						.y5-9__wrap--line
					.y5-9__1
						picture
							img(src="img/y5-9__1.png" alt="")
					.y5-9__2
						picture
							img(src="img/y5-9__2.png" alt="")
					.y5-9__bg
						.y5-9__year.yearConner 1983
						.y5-9__bg--1
						.y5-9__text--1.textBlock
							!="Сотрудники института В.В. Зорин, Е.В. Пастушенко, Н.А. Романов, О.Г. Сафиев, О.Б. Чалова удостоены премии Ленинского комсомола за разработку теоретических основ новой технологии получения кислородсодержащих соединений мономеров и реактивов для химической и нефтехимической промышленности." 
				.y5-10
					.y5-10__year.yearConner.blockTitle--desc 1983
					.y5-10__1
						picture
							img(src="img/y5-10__1.png" alt="")
					//- .y5-7__2
					//- 	picture
					//- 		img(src="img/y4-12__2.png" alt="")
					.y5-10__year.yearConner.blockTitle--mob 1983
					.y5-10__bg
						.y5-10__bg--1
						.y5-10__text--1.textBlock
							!="На Всесоюзной конференции по долговечности железобетона в г. Ростов-на-Дону: В.М. Латыпов, Л.А. Яковлева, В.В. Бабков, Г.М. Флорианович (институт ВМНИИК, г.Москва), В.В. Яковлев, А.Ф. Полак, Е.П. Андреева (МГУ, г.Москва), Г.В. Тэненбаум."
			
			
			.y5-11__blockOverlay.blockOverlay
			.y5-11#year1984
				.y5-11__wrap
					.y5-11__wrap--line
				.y5-11__1
					picture
						img(src="img/y5-11__1.png" alt="")
				.y5-11__2
					picture
						img(src="img/y5-11__2.png" alt="")
				.y5-11__bg
					.y5-11__year.yearConner 1984
					.y5-11__bg--1
					.y5-11__text--1.textBlock
						!="Институт занял первое место в смотре-конкурсе оздоровительно-спортивных лагерей вузов РСФСР." 			


			.y5-12__blockOverlay.blockOverlay
			.y5-12#year1985
				.y5-13
					.y5-13__1
						picture
							img(src="img/y5-13__1.png" alt="")
					.y5-13__bg
						.y5-13__year.yearConner 1985
						.y5-13__bg--1
						.y5-13__text--1.textBlock
							!="Сдано в эксплуатацию 12-ти этажное общежитие № 7 на строительном факультете. Общежитие №6 для факультета было построено в 1980 г." 
				.y5-14
					.y5-14__year.yearConner.blockTitle--desc 1985
					.y5-14__1
						picture
							img(src="img/y5-14__1.png" alt="")
					.y5-14__2
						picture
							img(src="img/y5-14__2.png" alt="")
					.y5-14__year.yearConner.blockTitle--mob 1985
					.y5-14__bg
						.y5-14__bg--1
						.y5-14__text--1.textBlock
							!="Начата подготовка молодых специалистов для Республики Куба и развивающихся стран Африки."


			.y5-15__blockOverlay.blockOverlay
			.y5-15#year1986
				.y5-15__text.y5-15__text--1.textBlock.blockTitle--desc
					!="Создан деканат по работе с иностранными студентами. Первый декан — доцент <br>М.К. Рогачев."
				.y5-15__year.yearConner.blockTitle--desc 1986
				.y5-15__bg
					.y5-15__bg--1
						picture
							source(media="(max-width: 1100px)", srcset="img/y5-15__bg--1.png")
							img(src="img/y5-15__bg--1.png" alt="")
				.y5-15__year.yearConner.blockTitle--mob 1986
				.y5-15__text.y5-15__text--1.textBlock.blockTitle--mob
					!="Создан деканат по работе с иностранными студентами. Первый декан — доцент <br>М.К. Рогачев."

				.y5-15__1
					img(src="img/y5-15__1.png" alt="")
				.y5-15__title.y5-15__title--1.blockTitle
					span 
						!="Первый декан"
					span 
						!="доцент"
					span 
						!=" М.К. Рогачев"

			.y5-16__blockOverlay.blockOverlay
			.y5-16#year1987
				.y5-17
					.y5-17__1
						picture
							img(src="img/y5-17__1.png" alt="")
					.y5-17__bg
						.y5-17__year.yearConner 1987
						.y5-17__bg--1
						.y5-17__text--1.textBlock
							!="Получен первый иностранный патент. Он выдан в Австрии на имя Л.Г. Шакирова, <br> А.З. Биккулова, Е.Ф. Смолянца и др. ученых кафедры химии нефти и нефтехимического синтеза." 
				.y5-18
					.y5-18__year.yearConner.blockTitle--desc 1987
					.y5-18__1
						picture
							img(src="img/y5-18__1.png" alt="")
					//- .y5-7__2
					//- 	picture
					//- 		img(src="img/y4-12__2.png" alt="")
					.y5-18__year.yearConner.blockTitle--mob 1987
					.y5-18__bg
						.y5-18__bg--1
						.y5-18__text--1.textBlock
							!="Создано специальное конструкторско-технологическое бюро технических средств бурения скважин с опытным производством (СКТБ) под руководством проф. М.Р. Мавлютова."


			.y5-19__blockOverlay.blockOverlay
			.y5-19#year1989
				.y5-20
					.y5-20__1
						picture
							img(src="img/y5-20__1.png" alt="")
					.y5-20__bg
						.y5-20__year.yearConner 1989
						.y5-20__bg--1
						.y5-20__text--1.textBlock
							!="Сдан в эксплуатацию 2-й учебный корпус строительного факультета." 
				.y5-21
					.y5-21__year.yearConner.blockTitle--desc 1989
					.y5-21__1
						picture
							img(src="img/y5-21__1.png" alt="")
					.y5-21__2
						picture
							img(src="img/y5-21__2.png" alt="")
					.y5-21__year.yearConner.blockTitle--mob 1989
					.y5-21__bg
						.y5-21__bg--1
						.y5-21__text--1.textBlock
							!="На факультете экономики и автоматизации ПП открыта кафедра вычислительной техники и инженерной кибернетики."

						

block scripts

