extends ../layouts/default

block variables
	- const title = "1990-1999"
	- var sidebarActive = 1990

block head
	include ../../blocks/modules/overlay/overlayStyle
block content
	.fullPageOverlay.fullPageOverlay--white.active
	.wrapper
		include ../../blocks/modules/sidebar/sidebar
		.scroll-page.y1990
			.y6-110
				.y6-110__numbers
					span.y6-110__numbers-number 1990
					span.y6-110__numbers-line
					span.y6-110__numbers-number 1999
				.y6-110__photos
					img.y6-110__photos-item.y6-110__photos-item--1(src="img/y6-110--1.png" alt="")
					img.y6-110__photos-item.y6-110__photos-item--2(src="img/y6-110--2.png" alt="")
					img.y6-110__photos-item.y6-110__photos-item--3(src="img/y6-110--3.png" alt="")
			.y6-1-80
				.y6-1-80__year.yearConner 1990
			.y6-1#year1990
				//- .y6-1__text.y6-1__text--1.textBlock
				//- 	!="Вхождение в координирующую структуру нефтегазовых вузов страны – содружество семи нефтяных вузов."
				.y6-1__year.yearConner 1990
				.y6-1__bg
					.y6-1__bg--1
						img(src="img/y6-1--2.png" alt="")
				.y6-1__title.y6-1__title--1.blockTitle.blockTitle--desc
					span  первый
					span  
						!="выпуск"
					span  
						!="иностранных"
					span  
						!="студентов"
				.y6-1__title.y6-1__title--1.blockTitle.blockTitle--mob
					span  первый
					span  
						!="выпуск"
					span  
						!="иностранных"
					span  
						!="студентов"
			.y6-2
				.y6-2__year.yearConner 1990
				.y6-2__text.y6-2__text--1.textBlock
					!="На кафедре бурения внедряются в учебный процесс 10 компьютеров IBM XT." 
				.y6-2__bg
					.y6-2__bg--1
						img(src="img/y6-2.png" alt="")
				.y6-2__2
					picture
						img(src="img/y2-2--2.png" alt="")
				.y6-2__3.y6-2__3--1
					picture
						img(src="img/y6-2__3.png" alt="")
				.y6-2__3.y6-2__3--2
					picture
						img(src="img/y6-2__3.png" alt="")
				.y6-2__3.y6-2__3--3
					picture
						img(src="img/y6-2__3.png" alt="")
				.y6-2__3.y6-2__3--4
					picture
						img(src="img/y6-2__3.png" alt="")
				.y6-2__3.y6-2__3--5
					picture
						img(src="img/y6-2__3.png" alt="")
				.y6-2__3.y6-2__3--6
					picture
						img(src="img/y6-2__3.png" alt="")
				.y6-2__3.y6-2__3--6
					picture
						img(src="img/y6-2__3.png" alt="")
				.y6-2__4
					picture
						img(src="img/y6-2__4.png" alt="")
		
			.y6-3
				.y6-3__text.y6-3__text--1.textBlock
					!="Занятия на первом тренажёре проводят профессор Л.А. Алексеев и доцент Т.О. Акбулатов." 
				.y6-3__year.yearConner 1990
				.y6-3__bg
					.y6-3__bg--1
						picture 
							source(media="(max-width: 1100px)", srcset="img/y6-3__bg--mob.png")
							img(src="img/y6-3__bg.png" alt="")
			.y6-4__blockOverlay.blockOverlay
			.y6-4#year1991
				.y6-5
					.y6-5__1
						picture
							img(src="img/y6-4__1.png" alt="")
					.y6-5__bg
						.y6-5__year.yearConner 1991
						.y6-5__bg--1
						.y6-5__text--1.textBlock.blockTitle--desc
							!="Начата сверхплановая подготовка студентов по контракту." 
						.y6-5__text--1.textBlock.blockTitle--mob
							!="Начата сверхплановая подготовка студентов по контракту." 
				.y6-6
					.y6-6__year.yearConner.blockTitle--desc 1991
					.y6-6__1
						picture
							img(src="img/y6-5__1.png" alt="")
					.y6-6__year.yearConner.blockTitle--mob 1991
					.y6-6__bg
						.y6-6__bg--1
						.y6-6__text--1.textBlock
							!="Открыта докторантура при УНИ."
			.y6-7__blockOverlay.blockOverlay
			.y6-7#year1993
				.y6-7__year.yearConner.blockTitle--desc 1993
				.y6-7__1
					picture
						source(media="(max-width: 1100px)", srcset="img/y6-7__1--mob.png")
						img(src="img/y6-7__1.png" alt="")
				.y6-7__year.yearConner.blockTitle--mob 1993
				.y6-7__text--1
					!="Приказом Госкомвуза России от 22 ноября № 364 Уфимский нефтяной институт преобразован " 
				.y6-7__text--2
					!="в Уфимский государственный нефтяной технический университет (УГНТУ)." 
			.y6-8__blockOverlay.blockOverlay
			.y6-8#year1994
				.y6-8__text.y6-8__text--1.textBlock.blockTitle--desc
					!="Ректором университета избран доктор технических наук, профессор Айрат Мингазович Шаммазов."
				.y6-8__year.yearConner.blockTitle--desc 1994
				.y6-8__bg


				.y6-8__1
					picture
						source(media="(max-width: 1100px)", srcset="img/y6-8__bg--1--mob.png")
						img(src="img/y6-8__bg--1.png" alt="")
				.y6-8__year.yearConner.blockTitle--mob 1994
				.y6-8__title.y6-8__title--1.blockTitle.blockTitle--desc
					span 
						!="Айрат"
					span 
						!="Мингазович"
					span 
						!="Шаммазов"
				.y6-8__title.y6-8__title--1.blockTitle.blockTitle--mob
					span 
						!="Айрат Мингазович"
					span 
						!="Шаммазов"
				.y6-8__text.y6-8__text--1.textBlock.blockTitle--mob
					!="Ректором университета избран доктор технических наук, профессор Айрат Мингазович Шаммазов."
			
			.y6-9__blockOverlay.blockOverlay
			.y6-9
				.y6-10
					.y6-10__1
						picture
							img(src="img/y6-9__1.png" alt="")
					.y6-10__2
						picture
							img(src="img/y6-9__3.png" alt="")
					.y6-10__bg
						.y6-10__year.yearConner 1994
						.y6-10__bg--1
						.y6-10__text--1.textBlock.blockTitle--desc
							!="Женская волейбольная команда УГНТУ вошла в высшую лигу чемпионата России." 
						.y6-10__text--1.textBlock.blockTitle--mob
							!="Женская волейбольная команда УГНТУ вошла в высшую лигу чемпионата России." 
				
				.y6-11
					.y6-11__year.yearConner.blockTitle--desc 1994
					.y6-11__1
						picture
							img(src="img/y6-9__2.png" alt="")
					.y6-11__year.yearConner.blockTitle--mob 1994
					.y6-11__bg
						.y6-11__bg--1
						.y6-11__text--1.textBlock
							!="Создан институт повышения квалификации руководящих работников и специалистов нефтегазового комплекса России и стран СНГ. Директор - профессор И.Г. Абдуллин."



			.y6-12__blockOverlay.blockOverlay
			.y6-12#year1996
				.y6-13
					.y6-13__1
						picture
							img(src="img/y6-13__1.png" alt="")
					.y6-13__2
						picture
							img(src="img/y6-13__2.png" alt="")
					.y6-13__bg
						.y6-13__year.yearConner 1996
						.y6-13__bg--1
						.y6-13__text--1.textBlock
							!="УГНТУ стал полноправным членом Всемирной ассоциации университетов (ЮНЕСКО)." 
				.y6-14
					.y6-14__year.yearConner.blockTitle--desc 1996
					.y6-14__1
						picture
							source(media="(max-width: 1100px)", srcset="img/y6-14__1--mob.png")
							img(src="img/y6-14__1.png" alt="")
					.y6-14__2.blockTitle--desc
						picture
							img(src="img/y6-14__2.png" alt="")

					.y6-14__year.yearConner.blockTitle--mob 1996
					.y6-14__bg
						.y6-14__bg--1
						.y6-14__text--1.textBlock
							!="24 преподавателя УГНТУ получили международные сертификаты, дающие право читать лекции на английском языке."
					.y6-14__2.blockTitle--mob
						picture
							img(src="img/y6-14__2.png" alt="")
			.y6-15__blockOverlay.blockOverlay
			.y6-15#year1997
				.y6-15__bg
					.y6-15__bg--1
						picture
							img(src="img/y6-15__bg--1.png" alt="")
					.y6-15__bg--2
						picture
							img(src="img/y6-15__bg--2.png" alt="")
				.y6-16
					.y6-16__text.y6-16__text--1.textBlock.blockTitle--desc
						!="Создан военный факультет УГНТУ."
					.y6-16__year.yearConner.blockTitle--desc 1997
					.y6-16__1
						img(src="img/y6-16__1.png" alt="")
					.y6-16__2.blockTitle--mob
						img(src="img/y6-16__2.png" alt="")
					.y6-16__year.yearConner.blockTitle--mob 1997
					.y6-16__title.y6-16__title--1.blockTitle.blockTitle--desc
						span 
							!="Создан"
						span 
							!="военный"
						span 
							!="факультет"
					.y6-16__title.y6-16__title--1.blockTitle.blockTitle--mob
						span 
							!="Создан военный"
						span 
							!="факультет"
					.y6-16__text.y6-16__text--1.textBlock.blockTitle--mob
						!="Создан военный факультет УГНТУ."
					.y6-16__3.blockTitle--mob
						img(src="img/y6-16__3.png" alt="")
				.y6-17
					.y6-17__1
						picture
							img(src="img/y6-17__1.png" alt="")
					.y6-17__2.blockTitle--desc
						picture
							img(src="img/y6-17__2.png" alt="")
					.y6-17__bg
						.y6-17__year.yearConner 1997
						.y6-17__bg--1
						.y6-17__text--1.textBlock
							!="Введен в эксплуатацию спортивный комплекс площадью 5500 м2." 
					.y6-17__2.blockTitle--mob
						picture
							img(src="img/y6-17__2.png" alt="")
			.y6-18__blockOverlay.blockOverlay
			.y6-18#year1999
				.y6-19
					.y6-19__year.yearConner.blockTitle--desc 1999
					.y6-19__1
						picture
							img(src="img/y6-19__1.png" alt="")
					.y6-19__2
						picture
							img(src="img/y6-19__2.png" alt="")

					.y6-19__year.yearConner.blockTitle--mob 1999
					.y6-19__bg
						.y6-19__bg--1
						.y6-19__text--1.textBlock
							!="Сдан в эксплуатацию учебный корпус ИПК площадью 5100 м2."
				.y6-20
					.y6-20__1
						picture
							img(src="img/y6-20__1.png" alt="")
					.y6-20__2
						picture
							img(src="img/y6-20__2.png" alt="")
					.y6-20__bg
						.y6-20__year.yearConner 1999
						.y6-20__bg--1
						.y6-20__text--1.textBlock
							!="Передан университету для использования в учебных целях <br>ДК им. Орджоникидзе площадью 6800 м2." 

block scripts

