extends ../layouts/default

block variables
	- const title = "2000-2010"
	- var sidebarActive = 2000

block head
	include ../../blocks/modules/overlay/overlayStyle
block content
	.fullPageOverlay.fullPageOverlay--white.active
	.wrapper
		include ../../blocks/modules/sidebar/sidebar
		.scroll-page.y2000
			.y7-110
				.y7-110__numbers
					span.y7-110__numbers-number 2000
					span.y7-110__numbers-line
					span.y7-110__numbers-number 2010
				.y7-110__photos
					img.y7-110__photos-item.y7-110__photos-item--1(src="img/y6-110--1.png" alt="")
					img.y7-110__photos-item.y7-110__photos-item--2(src="img/y6-110--2.png" alt="")
					img.y7-110__photos-item.y7-110__photos-item--3(src="img/y6-110--3.png" alt="")
			.y7-1-80
				.y7-1-80__year.yearConner 2000
			.y7-1#year2000
				.y7-1__text.y7-1__text--1.textBlock
					!='Сотрудники кафедры бурения УГНТУ и ГНПП "Азимут": М.Р. Мавлютов, Х.И. Акчурин, Л.А. Алексеев, Ф.Г. Галиакбаров, Г.Г. Ишбаев, Г.В. Конесев, Ю.Г. Матвеев, А.Н. Попов, А.И. Спивак и Б.Н. Трушкин  удостоены премии Правительства РФ в области науки и техники.'
				.y7-1__year.yearConner 2010
				.y7-1__2
					picture
						img(src="img/y7-1--2-bg.png" alt="")
				.y7-1__title.y7-1__title--1.blockTitle.blockTitle--desc.picture-after
					span М.Р. Мавлютов
				.y7-1__title.y7-1__title--2.blockTitle.blockTitle--desc.picture-before 
					span Галиакбаров, Г.Г
				.y7-1__title.y7-1__title--3.blockTitle.blockTitle--desc.picture-after
					span Л.А. Алексеев
				.y7-1__title.y7-1__title--4.blockTitle.blockTitle--desc.picture-before
					span.picture-before М.Р. Мавлютов
				.y7-1__title.y7-1__title--5.blockTitle.blockTitle--desc.picture-after
					span.picture-after Галиакбаров, Г.Г
				.y7-1__title.y7-1__title--6.blockTitle.blockTitle--desc.picture-before
					span.picture-before Л.А. Алексеев
				.y7-1__title.y7-1__title--7.blockTitle.blockTitle--desc.picture-after
					span.picture-after Г.В. Конесев
				.y7-1__title.y7-1__title--8.blockTitle.blockTitle--desc.picture-before
					span.picture-before Ишбаев, Г.В
				.y7-1__title.y7-1__title--9.blockTitle.blockTitle--desc.picture-after
					span.picture-after А.И. Спивак
				.y7-1__title.y7-1__title--10.blockTitle.blockTitle--desc.picture-before
					span.picture-before Б.Н. Трушкин  
			.y7-2
				.y7-2__year.yearConner 2000
				.y7-2__bg
					.y7-2__bg--1
						picture 
							source(media="(max-width: 1100px)", srcset="img/y6-3__bg--mob.png")
							img(src="img/y7-2__bg.png" alt="")

block scripts

