.about-page{
	width: 100vw;
	height: 100vh;
	background: #FDFDFD;
	@include max(md){
		height: auto;
	}
	opacity: 0;
	transition: opacity 1s;
	&.active{
		opacity: 1;
	}
}

.ap-activity{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	will-change: transform;
	transform-style: preserve-3d;
	overflow: hidden;
	z-index: 1;
	@include max(md){
		position: relative;
		left: 0;
		top: 0;
		will-change: auto;
		transform-style: initial;
	}
	@include max(md){
		position: relative;
		height: auto;
		width: 100%;
		top: 0;
		will-change: auto;
		transform-style: initial;
	}
	&__intro{
		width: 100%;
		height: 100%;
		will-change: transform;
		transform-style: preserve-3d;
		position: absolute;
		left: 0;
		top: 0;
		overflow: hidden;
		pointer-events: none;
		@include max(md){
			position: relative;
			height: 100vh;
			width: 100%;
			will-change: auto;
			transform-style: initial;
		}
		&-title{
			font-weight: 600;
			font-size: vw(60);
			line-height: 140%;
			text-transform: uppercase;
			color: #041C13;
			width: vw(600);
			position: absolute;
			left: vw(240);
			top: 50%;
			transform: translateY(-50%);
			padding-bottom: vw(24);
			@include max(md){
				font-size: vw2(60);
				width: vw2(600);
				left: vw2(124);
				padding-bottom: vw2(24);
			}
			@include max(sm){
				font-size: vw3(60);
				width: vw3(516);
				left: vw3(12);
				padding-bottom: vw3(24);
			}
			@include max(xs){
				font-size: vw4(40);
				width: vw4(296);
				left: vw4(12);
				padding-bottom: vw4(16);
			}
			i{
				font-style: inherit;
				will-change: opacity;
				pointer-events: auto;
				@include min(md){
					transition: color 3s;
					transition-delay: 1s;
					color: #041C13;
					will-change: color;
					cursor: cell;
				}
				&:hover{
					@include min(md){
						color: #1E713F;
						transition: color 0s;
					}
				}
			}
			&::after{
				content: "";
				display: block;
				width: 0;
				height: 1px;
				background: #6F6F6F;
				position: absolute;
				top: 100%;
				left: 0;
				transition: width 0.3s ease;
			}
			&.active{
				&::after{
					width: vw(176);
					@include max(md){
						width: vw2(152);
					}
					@include max(sm){
						width: vw3(156);
					}
					@include max(xs){
						width: vw4(136);
					}
				}
			}
		}
		&-text{
			will-change: transform;
			transform-style: preserve-3d;
			width: vw(488);
			font-style: normal;
			font-weight: 600;
			font-size: vw(36);
			line-height: 140%;
			text-transform: uppercase;
			color: #041C13;
			position: absolute;
			left: vw(240);
			top: 50%;
			transform: translateY(-50%);
			padding-bottom: vw(24);
			&::after{
				content: "";
				display: block;
				width: 0;
				height: 1px;
				background: #6F6F6F;
				position: absolute;
				top: 100%;
				left: 0;
				transition: width 0.3s ease;
			}
			@include max(md){
				width: vw2(520);
				font-size: vw2(36);
				left: vw2(124);
				padding-bottom: vw2(24);
			}
			@include max(sm){
				width: vw3(516);
				font-size: vw3(36);
				left: vw3(12);
				padding-bottom: vw3(24);
			}
			@include max(xs){
				width: vw4(296);
				font-size: vw4(24);
				left: vw4(12);
				padding-bottom: vw4(16);
			}
			i{
				font-style: inherit;
				will-change: opacity;
				pointer-events: auto;
				@include min(md){
					transition: color 3s;
					transition-delay: 1s;
					color: #041C13;
					will-change: color;
					cursor: cell;
				}
				&:hover{
					@include min(md){
						color: #1E713F;
						transition: color 0s;
					}
				}
			}
			&.active{
				&::after{
					width: vw(176);
					@include max(md){
						width: vw2(152);
					}
					@include max(sm){
						width: vw3(156);
					}
					@include max(xs){
						width: vw4(136);
					}
				}
			}
		}
	}
	&__items{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		pointer-events: none;
		@include max(md){
			position: relative;
			height: auto;
		}
	}
}
.ap-activity-item{
	will-change: transform;
	transform-style: preserve-3d;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	pointer-events: auto;
	z-index: 1;
	@include max(md){
		will-change: auto;
		transform-style: initial;
		position: static;
		height: auto;
		width: 100%;
		box-sizing: border-box;
		height: auto;
		padding: vw2(130) vw2(124) 0;
		display: flex;
		flex-direction: column-reverse;
	}
	@include max(sm){
		padding: vw3(120) vw3(12) 0;
	}
	@include max(xs){
		padding: vw4(80) vw4(12) 0;
	}
	&__img{
		overflow: hidden;
		width: vw(488);
		height: vh(580);
		position: absolute;
		left: vw(136);
		top: vh(140);
		will-change: transform;
		transform-style: preserve-3d;
		transform: translateX(-100vw) translateY(100vw);
		@include max(md){
			width: 100%;
			height: vw2(618);
			position: static;
			left: 0;
			top: 0;
			will-change: auto;
			transform-style: initial;
			transform: none;
			margin-top: vw2(64);
		}
		@include max(sm){
			height: vw3(618);
			margin-top: vw3(64);
		}
		@include max(xs){
			height: vw4(400);
			margin-top: vw4(40);
		}
		img{
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}
	}
	&__content{
		width: vw(592);
		position: absolute;
		left: vw(656);
		top: 40%;
		@include max(md){
			position: static;
			left: 0;
			top: 0;
			width: 100%;
		}
	}
	&__title{
		width: 100%;
		font-style: normal;
		font-weight: 600;
		font-size: vw(48);
		line-height: 140%;
		text-transform: uppercase;
		color: #041C13;
		@include max(md){
			font-size: vw2(42);
		}
		@include max(sm){
			font-size: vw3(42);
		}
		@include max(xs){
			font-size: vw4(30);
		}
	}
	&__text{
		will-change: transform;
		transform-style: preserve-3d;
		font-family: $textFont;
		font-style: normal;
		font-weight: 400;
		font-size: vw(18);
		line-height: 130%;
		color: #6F6F6F;
		margin-top: vw(32);
		width: vw(490);
		transform: translateY(100vh);
		@include max(md){
			will-change: auto;
			transform-style: initial;
			font-size: vw2(18);
			margin-top: vw2(24);
			width: 100%;
			transform: none;
		}
		@include max(sm){
			font-size: vw3(18);
			margin-top: vw3(24);
		}
		@include max(xs){
			font-size: vw4(18);
			margin-top: vw4(24);
		}
	}
}


.ap-green-logo{
	background: #1E713F;
	width: 100vw;
	height: 100vh;
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	@include max(md){
		position: relative;
		left: 0;
		top: 0;
		will-change: auto;
		transform-style: initial;
		pointer-events: auto;
		height: vw2(800);
		opacity: 1;
		margin-top: vw2(130);
	}

	@include max(sm){
		height: vw3(540);
	}
	@include max(xs){
		height: vw4(320);
	}
	&__img{
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		@include max(md){
			opacity: 1;
		}
	}
	&__logo{
		margin-right: vw(12);
		width: vw(65);
		transform: translateX(-19%);
		@include max(md){
			width: vw2(116);
			margin-right: vw2(21);
		}
		@include max(sm){
			width: vw3(87);
			margin-right: vw3(16);
		}
		@include max(xs){
			width: vw4(50);
			margin-right: vw4(9);
		}
		img{
			width: 100%;
			margin-top: vw(6);
			@include max(md){
				margin-top: vw2(6);
			}
			@include max(sm){
				margin-top: vw3(2);
			}
			@include max(xs){
				margin-top: 0;
			}
		}
	}
	&__title{
		width: vw(181);
		@include max(md){
			width: vw2(325);
		}
		@include max(sm){
			width: vw3(240);
		}
		@include max(xs){
			width: vw4(138);
		}
		svg{
			width: 100%;
		}
	}
}


.ap-achivments{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	will-change: transform;
	transform-style: preserve-3d;
	overflow: hidden;
	z-index: 3;
	box-sizing: border-box;
	@include max(md){
		position: relative;
		left: 0;
		top: 0;
		will-change: auto;
		transform-style: initial;
		margin-top: vw2(120);
		padding: 0 vw2(32);
		height: auto;
	}

	@include max(sm){
		margin-top: vw3(120);
		padding: 0 vw3(12);
	}
	@include max(xs){
		margin-top: vw4(80);
		padding: 0 vw4(12);
	}
	&__intro{
		width: 100%;
		height: 100%;
		will-change: transform;
		transform-style: preserve-3d;
		position: absolute;
		left: 0;
		top: 0;
		overflow: hidden;
		pointer-events: none;
		@include max(md){
			position: relative;
			height: auto;
			width: 100%;
			will-change: auto;
			transform-style: initial;
		}
		&-title{
			font-weight: 600;
			font-size: vw(60);
			line-height: 140%;
			text-transform: uppercase;
			color: #041C13;
			width: vw(488);
			position: absolute;
			left: vw(240);
			top: 50%;
			transform: translateY(-50%);
			padding-bottom: vw(24);
			@include max(md){
				font-size: vw2(60);
				width: 100%;
				position: relative;
				top: 0;
				left: 0;
				transform: none;
				padding-bottom: 0;
			}
			@include max(sm){
				font-size: vw3(60);
			}
			@include max(xs){
				font-size: vw4(40);
			}
			i{
				font-style: inherit;
				will-change: opacity;
				pointer-events: auto;
				@include min(md){
					transition: color 3s;
					transition-delay: 1s;
					color: #041C13;
					will-change: color;
					cursor: cell;
				}
				&:hover{
					@include min(md){
						color: #1E713F;
						transition: color 0s;
					}
				}
			}
			&::after{
				content: "";
				display: block;
				width: 0;
				height: 1px;
				background: #6F6F6F;
				position: absolute;
				top: 100%;
				left: 0;
				transition: width 0.3s ease;
				@include max(md){
					display: none;
				}
			}
			&.active{
				&::after{
					width: vw(176);
				}
			}
		}
	}
	&__items{
		width: 100vw;
		height: 100vh;
		will-change: transform;
		transform-style: preserve-3d;
		position: absolute;
		left: 0;
		top: 0;
		overflow: hidden;
		pointer-events: none;
		@include max(md){
			position: relative;
			will-change: auto;
			transform-style: initial;
			margin-top: vw2(64);
			height: auto;
			width: 100%;
		}
		@include max(sm){
			margin-top: vw3(64);
		}
		@include max(xs){
			margin-top: vw4(40);
		}
	}
}
.ap-achivments-item{
	$self: &;
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	will-change: transform;
	transform-style: preserve-3d;
	@include max(md){
		position: relative;
		will-change: auto;
		transform-style: initial;
		margin-bottom: vw2(80);
		width: 100%;
		height: auto;
	}
	@include max(sm){
		margin-bottom: vw3(80);
	}
	@include max(xs){
		margin-bottom: vw4(40);
	}
	&__img{
		overflow: hidden;
		will-change: transform;
		transform-style: preserve-3d;
		position: absolute;
		@include max(md){
			position: relative;
			will-change: auto;
			transform-style: initial;
			width: 100%;
			height: vw2(422);
		}
		@include max(sm){
			height: vw3(422);
		}
		@include max(xs){
			height: vw4(320);
		}
		img{
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
			object-position: center center;
		}
	}
	&__content{
		width: vw(280);
		position: absolute;
		will-change: transform;
		transform-style: preserve-3d;
		border-bottom: 1px solid #1E713F;
		padding-bottom: vw(24);
		@include max(md){
			width: 100%;
			padding-bottom: vw2(24);
			margin-top: vw2(40);
			position: relative;
		}
		@include max(sm){
			padding-bottom: vw3(24);
			margin-top: vw3(40);
		}
		@include max(xs){
			padding-bottom: vw4(24);
			margin-top: vw4(24);
		}
	}
	&__title{
		font-weight: 600;
		font-size: vw(60);
		line-height: 140%;
		text-transform: uppercase;
		color: #1E713F;
		@include max(md){
			font-size: vw2(60);
		}
		@include max(sm){
			font-size: vw3(60);
		}
		@include max(xs){
			font-size: vw4(40);
		}
	}
	&__text{
		font-weight: 600;
		font-size: vw(24);
		line-height: 140%;
		text-transform: uppercase;
		color: #6F6F6F;
		margin-top: vw(4);
		@include max(md){
			margin-top: vw2(4);
			font-size: vw2(24);
		}
		@include max(sm){
			margin-top: vw3(4);
			font-size: vw3(24);
		}
		@include max(xs){
			margin-top: vw4(4);
			font-size: vw4(24);
		}
	}
	@include min(md){
		&--1{
			#{ $self }{
				&__img{
					width: vw(800);
					height: vh(480);
					max-height: vh(650);
					left: vw(32);
					top: 50%;
					transform: translateY(-49%);
				}
				&__content{
					left: vw(864);
					top: 50%;
					transform: translateY(-61%);
				}
			}
		}
		&--2{
			#{ $self }{
				&__img{
					width: vw(800);
					height: vh(480);
					max-height: vh(650);
					left: vw(137);
					top: 50%;
					transform: translateY(-49%);
				}
				&__content{
					left: vw(968);
					top: 48%;
					transform: translateY(-64%);
				}
			}
		}
		&--3{
			height: auto;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding-top: vh(100);
			left: vw(552);
			#{ $self }{
				&__img{
					width: vw(488);
					height: vh(700);
					max-height: vh(900);
					position: relative;
				}
				&__content{
					position: relative;
					margin-top: vw(80);
				}
			}
		}
	}
}


.ap-automation{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	will-change: transform;
	transform-style: preserve-3d;
	z-index: 5;
	@include max(md){
		position: relative;
		left: 0;
		top: 0;
		will-change: auto;
		transform-style: initial;
		height: auto;
	}
	&__intro{
		@include max(md){
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100vh;
			width: 100%;
			position: relative;
		}
		&-text{
			will-change: transform;
			transform-style: preserve-3d;
			width: vw(488);
			font-style: normal;
			font-weight: 600;
			font-size: vw(36);
			line-height: 140%;
			text-transform: uppercase;
			color: #041C13;
			position: absolute;
			left: vw(240);
			top: 40%;
			transform: translateY(-50%);
			padding-bottom: vw(24);
			&::after{
				content: "";
				display: block;
				width: 0;
				height: 1px;
				background: #6F6F6F;
				position: absolute;
				top: 100%;
				left: 0;
				transition: width 0.3s ease;
			}
			@include max(md){
				width: vw2(520);
				box-sizing: border-box;
				font-size: vw2(36);
				position: relative;
				top: 0;
				left: 0;
				transform: none;
				padding-bottom: vw2(24);
			}
			@include max(sm){
				width: vw3(336);
				font-size: vw3(30);
				padding-bottom: vw3(24);
			}
			@include max(xs){
				width: vw4(296);
				font-size: vw4(24);
				padding-bottom: vw4(16);
			}
			i{
				font-style: inherit;
				will-change: opacity;
				pointer-events: auto;
				@include min(md){
					transition: color 3s;
					transition-delay: 1s;
					color: #041C13;
					will-change: color;
					cursor: cell;
				}
				&:hover{
					@include min(md){
						color: #1E713F;
						transition: color 0s;
					}
				}
			}
			&.active{
				&::after{
					width: vw(176);
					@include max(md){
						width: vw2(152);
					}
					@include max(sm){
						width: vw3(156);
					}
					@include max(xs){
						width: vw4(136);
					}
				}
			}
		}
	}
	&__content{
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		position: absolute;
		left: 0;
		top: 0;
		will-change: transform;
		transform-style: preserve-3d;
		overflow: hidden;
		@include max(md){
			position: relative;
			left: 0;
			top: 0;
			will-change: auto;
			transform-style: initial;
		}
		video{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			pointer-events: none;
		}
	}
}