.contacts-page {
	.c1{
		&__container{
			position: relative;
			width: 100vw;
			height: 100vh;
			perspective: 1500px;
		}
		&__title {
			will-change: transform, opacity;
			transform-style: preserve-3d;
			z-index: 3;
			position: absolute;
			font-weight: 700;
			font-size: vw(48);
			line-height: 140%;
			text-align: center;
			text-transform: uppercase;
			color: #FDFDFD;
			transition:  opacity .75s ease;
			opacity: 0;
			pointer-events: none;
			font-family: 'Ruda';
			font-weight: 700;
			line-height: 140%;
			text-transform: uppercase;	
			color: #041C13;
			left: vw(200);
			top: 100vh;
		}
		&__contacts {
			position: relative;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: flex-start;
			width: 100%;
			max-width: vw(278);
			will-change: transform, opacity;
			transform-style: preserve-3d;
			position: absolute;
			z-index: 2;
			top: 100vh;
			left: vw(200);
			opacity: 0;
			pointer-events: none;
			&--item {
				position: relative;
				width: 100%;
				display: flex;
				flex-flow: column nowrap;
				font-family: 'Manrope';
				font-style: normal;
				font-weight: 400;
				font-size: vw(18);
				line-height: 145%;
				margin-bottom: vw(32);
				color: #041C13;				
			}
			&--title {
				font-family: 'Manrope';
				font-style: normal;
				font-weight: 500;
				font-size: vw(16);
				line-height: 130%;
				color: #6F6F6F;	
				margin-bottom: vw(10);			
			}
			&--link {
				flex-flow: column nowrap;
				font-family: 'Manrope';
				font-style: normal;
				font-weight: 400;
				font-size: vw(18);
				line-height: 145%;
				color: #041C13;
				text-decoration: none;					
			}
		}
	}
	&__map {
		position: absolute;
		left: 100vw;
		top: 100vh;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	&__container{
		position: relative;
		width: vw(800);
		height: vw(500);
		display: flex;
		justify-content: center;
		align-items: center;
		img {
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				object-fit: cover;
				object-position: 50% 50%;
		}
	}
	}
	&__walk {
		position: absolute;
		left: 200vw;
		top: 200vh;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		overflow: hidden;
		flex-flow: column nowrap;
		&--title {
			font-family: 'Ruda';
			font-style: normal;
			font-weight: 600;
			font-size: vw(36);
			line-height: 140%;
			text-transform: uppercase;
			color: #041C13;
			margin-bottom: vw(80);
			width: vw(488);	
		}
		&--text {
			font-family: 'Manrope';
			font-style: normal;
			font-weight: 400;
			font-size: vw(18);
			line-height: 145%;
			color: #6F6F6F;
			width: vw(488);			
		}	
	}
	&__startWalk {
		position: absolute;
		left: 300vw;
		top: 0vh;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		overflow: hidden;
		background-image: url(../img/contacts-page__startWalk.png);
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
		.s1__link {
			opacity: 1;
		}
	}
}