.home-page{
	width: 100%;
	height: 100vh;
	position: relative;
	@include max(md){
		padding-top: vw2(71);
	}
	@include max(sm){
		height: auto;
		padding-top: vw3(48);
	}

}
.section1{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	@include max(sm){
		position: relative;
		height: calc(100vh - 15vw);
		overflow: hidden;
	}
	&__title{
		width: vw(1844);
		position: absolute;
		left: 50%;
		top: vw(102);
		transform: translateX(-50%);
		@include max(md){
			width: vw2(720);
			top: vw2(88);
		}
		@include max(sm){
			width: vw3(282);
			top: vw3(10);
		}
		img{
			width: 100%;
		}
	}
	&__house{
		width: 100%;
		position: absolute;
		left: 0;
		top: vw(178);
		@include max(md){
			top: vw2(121);
			translate: none;
			rotate: none;
			scale: none;
			transform: translate(-7.4%, 0%);
			width: vw2(1080);
			height: vw2(1236);
		}
		@include max(sm){
			transform: none;
			width: 100%;
			height: auto;
			top: vw3(66);
		}
		img{
			width: 100%;
			@include max(md){
				height: 100%;
				object-position: center top;
				object-fit: cover;
			}
		}
		img{
			width: 100%;
		}
	}
	&__dates{
		display: flex;
		align-items: center;
		font-size: vw(16);
		line-height: 1.92;
		position: absolute;
		top: vw(521);
		left: 50%;
		font-weight: 450;
		transform: translateX(-60%);
		@include max(md){
			font-size: vw2(33);
			top: vw2(244);
			transform: translateX(-50%);
		}
		@include max(sm){
			font-size: vw3(12);
			line-height: 2.57;
			transform: none;
			top: vw3(72);
			left: vw3(20);
		}
		&-item{
			&:not(:first-child){
				margin-left: vw(208);
				@include max(md){
					margin-left: vw2(22);
				}
				@include max(sm){
					margin-left: vw3(22);
				}
			}
		}
	}
	&__circle{
		width: vw(336);
		height: vw(336);
		position: absolute;
		left: vw(1311);
		top: vw(344);
		opacity: 1;
		pointer-events: none;
		@include max(md){
			width: vw2(183);
			height: vw2(183);
			left: vw2(502);
			top: vw2(372);
		}
		@include max(sm){
			width: vw3(93);
			height: vw3(93);
			left: vw3(194);
			top: vw3(53);
		}
		&-inner{
			width: 100%;
			height: 100%;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			background: $colorBlue;
			border-radius: 50%;
		}
		&-outside{
			width: vw(355);
			animation: rotateCircle 15s infinite linear;
			@include max(md){
				width: vw2(193);
			}
			@include max(sm){
				width: vw3(95);
			}
		}
		&-inside{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: vw(172);
			@include max(md){
				width: vw2(95);
			}
			@include max(sm){
				width: vw3(47);
			}
		}
	}

	&__scroll{
		font-weight: 450;
		font-size: 16px;
		line-height: 1.92;
		text-transform: uppercase;
		color: #404040;
		display: none;
		span{
			display: block;
			transform: rotate(-90deg);
		}
	}
}


@keyframes rotateCircle {
	0%   {transform: rotate(0)}
	100% {transform: rotate(-360deg)}
}



.section2{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #ACACAC;
	@include max(sm){
		position: relative;
		height: auto;
	}
	&::before{
		content: "";
		z-index: 1;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: block;
		background: $colorCyanDark;
		pointer-events: none;
	}

	&__numbers{
		display: flex;
		align-items: center;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		z-index: 9;
		@include max(sm){
			position: relative;
			top: 0;
			transform: none;
			padding: vw3(8) vw3(18) 0;
		}
		&-number{
			font-weight: 300;
			font-size: vw(1064);
			line-height: 1.71;
			letter-spacing: -0.07em;
			padding-right: 0.07em;
			background: linear-gradient(180.23deg, #FFFFFF 35.85%, rgba(255, 255, 255, 0) 71.53%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;

			@include max(sm){
				font-size: vw3(113);
				line-height: 1.09;
				letter-spacing: -0.06em;
				padding-right: 0.06em;
				background: none;
				-webkit-background-clip: inherit;
				background-clip: inherit;
				-webkit-text-fill-color: unset;
				color: #ffffff;
			}
		}
		&-line{
			width: vw(553);
			height: vw(60);
			background: linear-gradient(90.77deg, #FFFFFF 3.75%, rgba(255, 255, 255, 0) 106.75%);
			margin-left: vw(125);
			margin-right: vw(28);
			@include max(sm){
				flex-shrink: 0;
				background: #ffffff;
				width: vw3(32);
				height: vw3(8);
				margin-left: vw3(8);
				margin-right: vw3(3);
			}
		}
	}

	&__photos{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 8;
		top: 0;
		left: 0;
		@include max(sm){
			display: none;
		}
		&-item{
			left: 0;
			position: absolute;
			&--1{
				width: vw(525);
				bottom: vw(151);
				@include max(md){
					width: vw2(525);
				}
			}
			&--2{
				width: vw(280);
				top: vw(78);
				@include max(md){
					width: vw2(280);
					top: vw2(78);
				}
			}
			&--3{
				width: vw(426);
				bottom: vw(118);
				@include max(md){
					width: vw2(426);
				}
			}
		}
	}

	&__year{
		font-weight: 400;
		font-size: vw(80);
		line-height: 1.71;
		letter-spacing: -0.06em;
		padding-right: 0.06em;
		color: #FFFFFF;
		position: absolute;
		z-index: 12;
		top: 0;
		right: vw(52);
		@include max(md){
			font-size: vw2(32);
			right: vw2(20);
			top: vw2(71);
		}
		@include max(sm){
			display: none;
		}
	}

	&__text{
		font-family: $textFont;
		font-style: normal;
		font-weight: 400;
		font-size: vw(100);
		line-height: 0.96;
		letter-spacing: -0.015em;
		text-transform: uppercase;
		color: #F5F5F5;
		@include max(md){
			font-size: vw2(40);
		}
		@include max(sm){
			font-size: vw3(27);
			line-height: 1.03;
		}
		&--opacity{
			color: rgba(245, 245, 245, 0.29);
		}
		&--pl{}
	}

	&__textblock{
		padding-top: vw(49);
		padding-left: vw(56);
		position: relative;
		z-index: 10;
		@include max(md){
			padding-top: vw2(93);
			padding-left: vw2(22);
		}
		@include max(sm){
			padding-top: vw3(83);
			padding-left: 0;
		}
		.section2__text{
			width: vw(1363);
			@include max(md){
				width: vw2(550);
			}
			@include max(sm){
				width: 100%;
				padding: 0 vw3(16);
			}
			&--pl{
				padding-left: vw(183);
				width: vw(1606);
				@include max(md){
					padding-left: vw2(74);
					width: vw2(617);
				}
				@include max(sm){
					width: 100%;
				}
			}
		}
	}
	&__textblock2{
		position: absolute;
		right: vw(57);
		bottom: -5%;
		z-index: 10;
		width: vw(892);
		opacity: 1;
		@include max(md){
			width: vw2(353);
			right: vw2(22);
		}
		@include max(sm){
			position: relative;
			bottom: 0;
			right: 0;
			display: none;
		}
		.section2__text{
			&--pl{
				padding-left: vw(258);
				@include max(md){
					padding-left: vw2(95);
				}
			}
		}
	}


	&__letter{
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		width: vw(887);
		z-index: 11;
		@include max(md){
			width: vw2(336);
		}
		@include max(sm){
			position: relative;
			left: 0;
			top: 0;
			transform: none;
			margin: vw3(40) auto 0;
			width: vw3(291);
		}
		img{
			width: 100%;
		}
	}

	&__cloud{
		&-1{
			position: absolute;
			width: vw(1667);
			z-index: 9;

			@include max(md){
				width: vw2(667);
			}
			@include max(sm){
				left: 0;
				width: 100%;
				top: vw3(371);
			}
		}
		&-2{
			position: absolute;
			width: vw(1256);
			z-index: 9;
			@include max(md){
				width: vw2(502);
			}
			@include max(sm){
				left: 0;
				width: 100%;
				top: vw3(884);
			}
		}
	}

	&__house{
		position: absolute;
		left: 0;
		width: 100%;
		top: 100%;
		z-index: 3;
		@include max(sm){
			position: relative;
			top: 0;
			margin-top: vw3(155);
		}
		&::before{
			content: "";
			z-index: 1;
			position: absolute;
			left: 0;
			bottom: 90%;
			width: 100%;
			height: 110%;
			display: block;
			background: $colorCyanDark;
			pointer-events: none;
			@include max(md){
				height: 200vh;
			}
			@include max(sm){
				display: none;
			}
		}
		&-birds{
			width: vw(708);
			top: vw(-400);
			left: 15%;
			position: absolute;
			z-index: 2;
			@include max(sm){
				display: none;
			}
		}
		&-image{
			width: 100%;
		}
		&-bottom{
			width: 100%;
			margin-top: vw(-118);
			@include max(sm){
				display: none;
			}
		}
	}

	&__last{
		position: absolute;
		z-index: 2;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include max(sm){
			position: relative;
			height: auto;
		}
		&-img{
			width: 100%;
			height: 100%;
			overflow: hidden;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&-label{
			position: absolute;
			left: 100%;
			bottom: vw(-35);
			width: vw(4224);
			z-index: 2;
			@include max(sm){
				left: 50%;
				transform: translateX(-50%);
				bottom: vw3(8);
				width: vw3(271);
			}
			img{
				width: 100%;
			}
		}
		&-overlay{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: #000;
			opacity: 0;
			z-index: 1;
			@include max(sm){
				display: none;
			}
		}
	}
}



.section3{
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #F9F9F9;
	z-index: 16;
	@include max(md){
		left: 0;
		top: 100%;
	}
	@include max(sm){
		top: 0;
		position: relative;
		height: auto;
	}
	&__flex{
		height: 100%;
		display: flex;
		width: max-content;
		@include max(md){
			width: 100%;
			height: auto;
			min-height: 100vh;
			flex-direction: column;
		}
	}

	&__image{
		height: 100%;
		flex-shrink: 0;
		@include max(md){
			width: 100%;
			height: auto;
		}
		img{
			height: 100%;
			@include max(md){
				width: 100%;
				height: auto;
			}
		}
	}
	&__text{
		flex-shrink: 0;
		font-family: $titleFont;
		font-size: vw(42);
		line-height: 1.28;
		color: $colorGray;
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
		width: vw(1350);
		padding: vw(50) 0;
		position: relative;
		@include max(md){
			width: 100%;
			padding: 0 vw2(20);
			font-size: vw2(32);
			line-height: 1.4;
			display: block;
		}
		@include max(sm){
			padding: 0 vw3(16);
			font-size: vw3(14);
			line-height: 1.52;
		}
		&-inner{
			padding: 0 vw(50);
			@include max(md){
				padding: vw2(30) 0 vw2(20);
			}
			@include max(sm){
				padding: vw3(30) 0 vw3(16);
			}
		}
	}

	&__label{
		&-item{
			display: block;
		}
	}

	&__block{
		width: max-content;
		position: absolute;
		height: 100%;
		top: 0;
		left: 100%;
		background: #F9F9F9;
		overflow: hidden;
		@include max(md){
			left: 0;
			top: 100%;
			width: 100%;
			height: auto;
			min-height: 100vh;
			background: #FFFFFF;
		}
		@include max(sm){
			position: relative;
			top: 0;
			min-height: 0;
		}
		&--1{
			left: 0;
			@include max(md){
				top: 0;
			}
			@include max(sm){
				background: #F7F7F7;
			}
			.section3__text-inner{
				width: vw(970);
				@include max(md){
					width: 100%;
				}
			}
		}
		&--2{
			.section3__text--1{
				@include max(md){
					order: 2;
				}
				.section3__text-inner{
					width: vw(891);
					@include max(md){
						width: 100%;
					}
				}
			}
			.section3__text--2{
				border-left: 1px solid #484848;
				@include max(md){
					border: 0;
					order: 4;
				}
				.section3__text-inner{
					width: vw(733);
					@include max(md){
						width: 100%;
					}
				}
			}
			.section3__image--1{
				@include max(md){
					order: 1;
				}
			}
			.section3__image--2{
				padding: vw(50) vw(50) vw(50) 0;
				@include max(md){
					padding: 0;
					order: 3;
				}
			}
		}
		&--3{
			padding-left: vw(776);
			@include max(md){
				padding-left: 0;
			}
			.section3__label{
				z-index: 3;
				@include max(md){
					display: none;
				}
				&--1{
					position: absolute;
					top: vw(50);
					left: vw(200);
					.section3__label-item{
						&--1{
							width: vw(662);
						}
						&--2{
							width: vw(1121);
							margin-top: vw(10);
						}
					}
				}
				&--2{
					position: absolute;
					bottom: vw(18);
					left: vw(614);
					display: flex;
					align-items: flex-start;
					.section3__label-item{
						flex-shrink: 0;
						&--1{
							width: vw(1101);
						}
						&--2{
							width: vw(1051);
							margin-left: vw(100);
						}
					}
				}
			}
			.section3__image{
				position: relative;
				z-index: 2;
			}
			.section3__star{
				position: absolute;
				width: vw(997);
				right: vw(529);
				bottom: vw(300);
				z-index: 5;
				@include max(md){
					width: vw2(343);
					right: 0;
					bottom: auto;
					top: vw2(313);
				}
				@include max(sm){
					width: vw3(164);
					right: vw3(20);
					top: vw3(156);
				}
				img{
					width: 100%;
				}
			}
			.section3__flex{
				@include max(md){
					min-height: 0;
				}
				&::after{
					content: "";
					width: vw(989);
					height: 100%;
					position: relative;
					z-index: 1;
					display: block;
					background: url(../img/p6-6.webp) left top no-repeat;
					background-size: auto 100%;
					flex-shrink: 0;
					mix-blend-mode: color-burn;
					opacity: 0.6;
					@include max(md){
						display: none;
					}
				}
			}

			.section3__mobile{
				display: none;
				@include max(md){
					display: block;
					padding-left: vw2(20);
					padding-bottom: vw2(50);
					@include max(sm){
						padding-left: vw3(16);
						padding-bottom: vw3(27);
					}
				}
				&-label{
					@include max(md){
						width: vw2(600);
					}
					@include max(sm){
						width: vw3(268);
					}
				}
			}
			.section3__year{
				@include max(md){
					padding-left: vw2(20);
				}
				@include max(sm){
					padding-left: vw3(16);
				}
			}
			.section3__overlay{
				z-index: 6;
			}
		}

		&--4{
			padding-left: vw(925);
			@include max(md){
				padding-left: 0;
			}
			&::after{
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 1;
				display: block;
				background: url(../img/p6-6.webp) right top no-repeat;
				background-size: cover;
				mix-blend-mode: color-burn;
				@include max(md){
					display: none;
				}
			}
			&::before{
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 1;
				display: block;
				background: linear-gradient(256.45deg, #CECECE 33.71%, rgba(231, 231, 231, 0) 59.71%);
				@include max(md){
					display: none;
				}
			}
			.section3__text{
				width: auto;
				z-index: 3;
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				@include max(md){
					position: static;
				}
				.section3__text-inner{
					width: vw(516);
					@include max(md){
						width: auto;
						span{
							display: none;
						}
					}
				}
			}
			.section3__image{
				position: relative;
				z-index: 4;
			}
			.section3__label{
				z-index: 2;
				position: absolute;
				bottom: vw(140);
				left: vw(70);
				@include max(md){
					display: none;
				}
				.section3__label-item{
					&--1{
						width: vw(786);
						margin-left: vw(800);
					}
					&--2{
						width: vw(1443);
						margin-top: vw(40);
						margin-left: vw(75);
					}
					&--3{
						width: vw(1431);
						margin-top: vw(-52);
					}
				}
			}
			.section3__year{
				z-index: 5;
				@include max(md){
					padding-left: vw2(20);
					@include max(sm){
						padding-left: vw3(16);
					}
				}
			}
			.section3__mobile{
				display: none;
				@include max(md){
					display: block;
					padding-left: vw2(20);
					padding-bottom: vw2(50);
					@include max(sm){
						padding-left: vw3(16);
						padding-bottom: vw3(50);
					}
				}
				&-label{
					@include max(md){
						width: vw2(520);
					}
					@include max(sm){
						width: vw3(220);
					}
				}
			}
			.section3__overlay{
				z-index: 6;
			}
		}
	}

	&__year{
		font-size: vw(126);
		line-height: 1.09;
		letter-spacing: -0.06em;
		padding-right: 0.06em;
		color: $colorGray;
		position: absolute;
		right: vw(45);
		top: vw(33);
		font-family: $mainFont;

		@include max(md){
			font-size: vw2(90);
			position: relative;
			left: 0;
			top: 0;
			padding: vw2(10) 0 vw2(50);
		}

		@include max(sm){
			font-size: vw3(38);
			padding: vw3(11) 0 vw3(54);
			margin-left: vw3(-4);
		}
	}

	&__overlay{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #000;
		opacity: 0;
		z-index: 1;
		@include max(sm){
			display: none;
		}
	}
}