.single--page {
	.header {
		background: #fff;
	}
}

.single {
	position: relative;

	@include max(md) {
		&:not(.no-p-top) {
			padding-top: vw2(75);
		}
	}

	@include max(sm) {
		&:not(.no-p-top) {
			padding-top: vw3(50);
		}
	}

	&::before {
		content: '';
		width: 50%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		background-color: $gray-f6;

		@include max(lg) {
			display: none;
		}
	}

	a {
		text-decoration: none;
	}

	&__container {
		display: flex;

		@include max(lg) {
			flex-direction: column;
		}
	}

	&__col {
		width: 50%;
		position: relative;

		@include max(lg) {
			width: 100%;
		}

		&:first-child {
			padding-top: 35px;
			padding-bottom: 106px;
			padding-right: 80px;
			background: #ffffff;

			@include max(lg) {
				padding-top: 52px;
				padding-right: 52px;
				padding-bottom: 33px;
			}

			@include max(sm) {
				padding-top: 12px;
			}
		}

		&:last-child {
			padding-top: 124px;
			padding-bottom: 80px;
			padding-left: 40px;

			@include max(lg) {
				width: 100%;
				background-color: $gray-f6;
				padding-left: 24px;
				padding-right: 24px;
				padding-top: 35px;
				padding-bottom: 46px;
			}

			@include max(sm) {
				width: 100%;
				padding-top: 0;
				padding-bottom: 50px;
				margin-left: 0;
				margin-top: 0;
				background: #ffffff;
				padding-left: 16px;
				padding-right: 16px;
			}
		}
	}

	&__name {
		font-family: $titleFont;
		font-size: 42px;
		line-height: 54px;
		color: $black-40;

		@include max(lg) {
			line-height: 47px;
		}

		@include max(sm) {
			font-size: 24px;
			line-height: 26px;
			padding-right: 60px;
		}
	}

	&__position {
		max-width: 286px;
		text-transform: uppercase;
		color: $black-11;
		margin-top: 20px;
		font-weight: 450;

		@include max(lg) {
			margin-top: 24px;
		}

		@include max(smd) {
			max-width: 348px;
			margin-top: 14px;
		}

		@include max(sm) {
			max-width: 55%;
			font-size: 9px;
			line-height: 13px;
			margin-top: 10px;
		}
	}

	&__shares {
		display: flex;
		margin-top: 100px;

		@include max(sm) {
			margin-top: 50px;
		}
	}

	&__share {
		display: inline-flex;
		align-items: center;
		position: relative;

		@include hover {
			.single__share-icon {
				border-color: $green;
			}

			span {
				color: $green;
			}
		}

		.yaBlock {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 3;

			.ya-share2__container,
			.ya-share2__list,
			.ya-share2__list,
			.ya-share2__item_more {
				width: 100%;
				height: 100%;
				display: block !important;
				margin: 0 !important;
			}

			.ya-share2__link_more {
				opacity: 0 !important;
			}
		}

		span {
			text-transform: uppercase;
			color: $black-40;
			transition: 0.3s ease;

			@include max(sm) {
				font-size: 9px;
				line-height: 13px;
			}
		}

		&:not(:last-child) {
			margin-right: 59px;

			@include max(sm) {
				margin-right: 25px;
			}
		}
	}

	&__share-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 53px;
		height: 53px;
		border-radius: 50%;
		border: 1px solid rgba($gray-1c, 0.2);
		margin-right: 20px;
		transition: 0.3s ease;

		@include max(sm) {
			width: 33px;
			height: 33px;
			margin-right: 10px;
		}

		svg {
			fill: $black;
			width: 23px;
			height: 19px;

			@include max(sm) {
				width: 15px;
				height: 13px;
			}
		}
	}

	&__text {
		font-family: $titleFont;
		font-size: 24px;
		line-height: 36px;
		color: $black;
		margin-top: 40px;

		@include max(sm) {
			font-size: 14px;
			line-height: 24px;
			margin-top: 20px;
		}

		&--desctop {
			@include max(sm) {
				display: none;
			}
		}

		&--mobile {
			@include min(sm) {
				display: none;
			}
		}
	}

	&__slider {
		position: relative;
		padding-bottom: vw(82,1920);
		@include max(lg) {}

		@include max(sm) {
			width: calc(100% + 32px);
			margin: 0 -16px;
		}
	}

	&__slider-item {
		height: 0;
		padding-top: 62%;
		position: relative;

		@include max(sm) {
			padding-top: 54%;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			position: absolute;
			inset: 0;
		}
	}

	&__slider-nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
		width: 100%;
		padding: 0 40px;
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 1;
		transform: translateY(-50%);

		.swiper-prev,
		.swiper-next {
			background-color: rgba($black, 0.2);
			background-image: url("../img/svg/i-arrow-white.svg");
			background-position: 51% center;
			background-repeat: no-repeat;
			background-size: 10px auto;
			cursor: pointer;

			@include hover {
				background-color: $colorCyan;
			}

			@include max(lg) {
				width: 65px;
				height: 65px;
			}

			@include max(sm) {
				width: 32px;
				height: 32px;
				background-size: 6px auto;
			}
		}

		.swiper-prev {
			transform: scaleX(-1);
		}
	}
	&__slider-pagination {
		bottom: 0 !important;
		.swiper-pagination-bullet {
			width: 20px;
			height: 20px;
			background: #D9D9D9;
			opacity: 1;
			&.swiper-pagination-bullet-active {
				background: #15A6B1;
			}
		}
		@include max(sm) {
			display: none;
		}
		
	}
	&__subslider {
		margin-top: 124px;

		@include max(lg) {
			margin-top: 38px;
		}

		@include max(sm) {
			display: none;
		}
	}

	&__subslider-item {
		height: 0;
		padding-top: 12.7%;
		position: relative;
		opacity: 0.2;
		transition: 0.3s ease;
		cursor: pointer;

		@include max(lg) {
			padding-top: 11%;
		}

		&.swiper-slide-thumb-active {
			opacity: 1;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			inset: 0;
		}
	}

	&__close-btn {
		position: absolute;
		top: 18px;
		right: 22px;

		@include max(lg) {
			top: 33px;
			right: 52px;
		}

		@include max(md) {
			right: 24px;
		}

		@include max(sm) {
			top: 16px;
			right: 16px;
		}
	}
}