.y1950{
	width: 100%;
	height: 100vh;
	position: relative;
	@include max(md){
		padding-top: vw2(71);
	}
	@include max(sm){
		height: auto;
		padding-top: vw3(48);
	}
}


.y2-1{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #ACACAC;
	z-index: 2;
	@include max(sm){
		position: relative;
		height: auto;
	}
	&::before{
		content: "";
		z-index: 1;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: block;
		background: $colorBlue;
		pointer-events: none;
	}

	&__numbers{
		@include years-row;
		&-number{
			@include years-number;
		}
		&-line{
			@include years-line;
		}
	}

	&__photos{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 8;
		top: 0;
		left: 0;
		@include max(sm){
			display: none;
		}
		&-item{
			left: 0;
			position: absolute;
			&--1{
				width: vw(525);
				bottom: vw(151);
				@include max(md){
					width: vw2(525);
				}
			}
			&--2{
				width: vw(280);
				top: vw(78);
				@include max(md){
					width: vw2(280);
					top: vw2(78);
				}
			}
			&--3{
				width: vw(426);
				bottom: vw(118);
				@include max(md){
					width: vw2(426);
				}
			}
		}
	}

}


.y2-2{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: $colorBlue;
	z-index: 3;
	&__top{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 4;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__title{
		color: #FFFFFF;
		position: absolute;
		left: vw(35);
		top: vw(135);
		z-index: 3;
		span{
			&:nth-child(2){
				transform: translateX(59%);
			}
			&:nth-child(3){
				transform: translateX(18%);
			}
		}
	}
	&__text{
		@include text;
		color: #FFFFFF;
		width: vw(573);
		position: absolute;
		top: vw(588);
		right: vw(10);
		z-index: 3;
	}
	&__fly{
		width: vw(439);
		position: absolute;
		left: vw(205);
		top: vw(136);
		z-index: 2;
		img{
			width: 100%;
		}
	}
	&__diplom{
		position: absolute;
		left: vw(268);
		top: 0;
		width: vw(1268);
		z-index: 4;
		img{
			width: 100%;
		}
	}
	&__bottom{
		display: block;
		width: 100%;
		position: absolute;
		top: 100%;
		left: 0;
	}
}

.y2-3{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: $colorBlue;
	z-index: 1;
	&__background{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		img{
			object-position: left bottom;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__man{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 13;
		width: 100%;
		height: 100%;
		img{
			object-position: left bottom;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__text{
		@include text;
		color: #FFFFFF;
		width: vw(573);
		position: absolute;
		left: vw(46);
		top: vw(44);
		z-index: 13;
	}
	&__label{
		@include label;
		color: #F5F5F5;
		width: vw(254);
		position: absolute;
		left: vw(358);
		bottom: vw(338);
		z-index: 13;
	}
}


.y2-4{
	z-index: 4;
	display: flex;
	&__first{
		position: relative;
		&-year{
			color: #FFFFFF;
		}
		&-text{
			color: #F4F4F4;
			position: absolute;
			left: vw(50);
			bottom: vw(50);
			width: vw(503);
		}
	}
	&__second{
		flex-direction: row-reverse;
		&-text{
			padding: vw(50) vw(905) vw(50) vw(69);
			display: flex;
			align-items: flex-end;
			position: relative;
			&-col{
				&:nth-child(3){
					width: vw(631);
				}
				&:nth-child(4){
					margin-left: vw(60);
					width: vw(660);
				}
			}
			&-img{
				position: absolute;
				top: vw(33);
				left: vw(69);
				width: vw(451);
			}
		}
	}

}

.y2-5{
	z-index: 4;
	&__text{
		position: relative;
		display: flex;
		align-items: flex-end;
		padding: vw(50) vw(168) vw(50) vw(50);
		&-bottom{
			display: flex;
		}
		&-col{
			width: vw(535);
			&:not(:last-child){
				margin-left: vw(60);
			}
		}
	}
}


.y2-6{
	z-index: 4;
	width: vw(2940);
	background: url("../img/o8-bg.webp") center center / cover no-repeat;
	&__year{
		color: #ffffff;
	}
	&__text{
		color: #ffffff;
		width: vw(696);
		position: absolute;
		left: vw(50);
		bottom: vw(50);
	}
	&__image{
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		z-index: 4;
		img{
			height: 100%;
		}
	}
	&__title{
		color: #ffffff;
		top: vw(50);
		left: vw(50);
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		span{
			&:nth-child(1){
				opacity: 0.2;
			}
			&:nth-child(2){
				margin-left: vw(250);
			}
			&:nth-child(3){
				margin-left: vw(700);
			}
			&:nth-child(4){
				margin-left: vw(2150);
				position: relative;
				z-index: 4;
			}
		}
	}
}

.y2-7{
	z-index: 4;
	width: vw(2563);
	background: url("../img/o9-bg.webp") center center / cover no-repeat;
	&__year{
		color: #ffffff;
	}
	&__text{
		color: #ffffff;
		width: vw(581);
		position: absolute;
		left: vw(50);
		bottom: vw(50);
	}
	&__image{
		position: absolute;
		right: vw(695);
		bottom: 0;
		z-index: 4;
		width: vw(1359);
		img{
			width: 100%;
		}
	}
	&__title{
		color: #ffffff;
		top: vw(259);
		left: vw(93);
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		span{
			&:nth-child(1){
				opacity: 0.2;
			}
			&:nth-child(2){
				margin-left: vw(234);
			}
			&:nth-child(3){
				margin-left: vw(1460);
				position: relative;
				z-index: 4;
			}
		}
	}
}

.y2-8{
	z-index: 5;
	&__text{
		position: relative;
		padding: vw(50) vw(602) vw(50) vw(50);
		display: flex;
		align-items: flex-end;
		&-col{
			width: vw(690);
		}
	}
}

.y2-9{
	z-index: 4;
	width: 100%;
	&__video{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		pointer-events: none;
	}
	&__flex{
		@include block;
		background: transparent;
	}
	&__image{
		padding-right: 0;
		padding-left: vw(50);
	}
	&__text{
		padding: vw(50) vw(50) vw(50) vw(50);
		box-sizing: border-box;
		width: 95.5vw;
		color: #ffffff;
		&-col{
			width: vw(581);
		}
	}
	&__title{
		color: #ffffff;
		bottom: vw(50);
		left: vw(463);
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		span{
			&:nth-child(1){}
			&:nth-child(2){}
			&:nth-child(3){}
		}
	}
}

.y2-10{
	z-index: 4;
	background: $colorCyan;
	&__flex{
		flex-direction: row-reverse;
	}
	&__text{
		padding: vw(50) vw(838) vw(50) vw(50);
		display: flex;
		align-items: flex-end;
		color: #ffffff;
		position: relative;
		&-col{
			width: vw(446);
		}
	}
}

.y2-11{
	z-index: 4;
	display: flex;
	&__first{
		align-items: flex-end;
		&-img{
			width: vw(1159);
			img{
				width: 100%;
			}
		}
		&-text{
			padding: vw(50) vw(551) vw(50) vw(104);
			display: flex;
			align-items: flex-end;
			&-col{
				width: vw(577);
			}
		}
	}
	&__second{
		padding: vw(50) vw(1411) vw(50) 0;
		flex-direction: row-reverse;
		align-items: flex-end;
		&-text{
			padding: 0 vw(104) 0 vw(50);
			display: flex;
			align-items: flex-end;
			border-left: 1px solid #484848;
			display: flex;
			align-items: flex-end;
			&-col{
				width: vw(622);
			}
		}
		&-image{
			width: vw(870);
			img{
				width: 100%;
			}
		}
	}
}

.y2-12{
	z-index: 4;
	background: #E3E3E3;
	padding-right: vw(93);
	display: flex;
	&__images{
		position: relative;
		&-bg{}
		&-img{
			position: absolute;
			width: vw(959);
			left: vw(1036);
			top: vw(50);
			img{
				width: 100%;
			}
		}
	}
	&__text{
		padding: vw(50) vw(794) vw(50) vw(650);
		&-col{
			width: vw(577);
		}
	}
	&__last{
		width: vw(919);
		padding-bottom: vw(104);
		align-self: flex-end;
		img{
			width: 100%;
		}
	}
}