extends layouts/default
include helpers/mixins

block variables
	- const title = "Project title"
	- var sidebarActive = 1

block content

	include ../blocks/modules/loader/loader

	.wrapper
		include ../blocks/modules/sidebar/sidebar

		.scroll-page.home-page
			.section1
				.header
					.header__left
						.header__menu
							.header__menu-item
								a(href="") История
							.header__menu-item
								a(href="") Легенды УГНТУ
							.header__menu-item
								a(href="") Поздравление ректора
							.header__menu-item
								a(href="") календарь событий
					.header__right
						a.header__btn(href="") поддержать
						a.header__btn.header__btn--blue(href="") поздравить

				.section1__title
					img(src="img/svg/label1.svg")
				.section1__dates
					.section1__dates-item 1948
					.section1__dates-item 2023
				.section1__house
					picture
						source(srcset="img/mobile/p1.webp" media="(max-width: 699px)")
						img(src="img/p1.webp" alt="")
				.section1__circle
					.section1__circle-inner
						img.section1__circle-outside(src="img/svg/label-circle.svg" alt="")
						img.section1__circle-inside(src="img/svg/logo.svg" alt="logo")
				.section1__scroll
					span Scroll

			.section2
				.section2__year 1948
				.section2__numbers
					span.section2__numbers-number 1941
					span.section2__numbers-line
					span.section2__numbers-number 1949
				.section2__photos
					img.section2__photos-item.section2__photos-item--1(src="img/p3-1.webp" alt="")
					img.section2__photos-item.section2__photos-item--2(src="img/p3-2.webp" alt="")
					img.section2__photos-item.section2__photos-item--3(src="img/p3-3.webp" alt="")


				.section2__textblock
					.section2__text постановлением Совета Министров СССР № 3774 и приказом по Министерству высшего образования СССР от 28 октября 1948 года
					.section2__text.section2__text--opacity на базе филиала
					.section2__text.section2__text--opacity.section2__text--pl Московского нефтяного института им. И.М. Губкина организован Уфимский нефтяной институт

				.section2__letter
					img(src="img/p2.webp" alt="")
				.section2__cloud
					picture
						source(srcset="img/mobile/p4-2.webp" media="(max-width: 699px)")
						img.section2__cloud-1(src="img/p4-2.webp" alt="")
					picture
						source(srcset="img/mobile/p4-3.webp" media="(max-width: 699px)")
						img.section2__cloud-2(src="img/p4-3.webp" alt="")


				.section2__textblock2
					.section2__text первое здание Уфимского
					.section2__text.section2__text--opacity.section2__text--pl нефтяного института

				.section2__house
					img.section2__house-birds(src="img/p4-1.webp" alt="")
					picture
						source(srcset="img/mobile/p4-4.webp" media="(max-width: 699px)")
						img.section2__house-image(src="img/p4-4.webp" alt="")
					img.section2__house-bottom(src="img/svg/p-bottom.svg" alt="")

				.section2__last
					.section2__last-img
						img(src="img/p5.webp" alt="")
					.section2__last-label
						img(src="img/svg/label2.svg" alt="")
					.section2__last-overlay

			.section3
				.section3__block.section3__block--1
					.section3__flex
						.section3__image
							picture
								source(srcset="img/mobile/p6-1.webp" media="(max-width: 1100px)")
								img(src="img/p6-1.webp" alt="")
						.section3__text
							.section3__year 1941
							.section3__text-inner В октябре 1941 г. в Уфу был эвакуирован Московский нефтяной институт имени академика И.М. Губкина. Институт разместился в Соцгороде Уфимского крекинг-завода (ныне Уфимский нефтеперерабатывающий завод), который входил в состав Сталинского района г. Уфы.
					.section3__overlay

				.section3__block.section3__block--2
					.section3__flex
						.section3__image.section3__image--1
							picture
								source(srcset="img/mobile/p6-2.webp" media="(max-width: 1100px)")
								img(src="img/p6-2.webp" alt="")
						.section3__text.section3__text--1
							.section3__year 1943
							.section3__text-inner Эвакуированные из Москвы студенты старших курсов без выполнения и защиты дипломных проектов направлялись на промышленные предприятия Башкирии в качестве молодых специалистов. В ноябре 1943 г. преподавательский состав возвратился в Москву, а в Уфе был организован филиал.
						.section3__text.section3__text--2
							.section3__year 1943
							.section3__text-inner Приказом №743/к Народного Комиссариата нефтяной промышленности от 2 окт. 1945 г. директором Уфимского филиала МНИ был назначен Вениамин Григорьевич Рубинштейн.
						.section3__image.section3__image--2
							picture
								source(srcset="img/mobile/p6-3.webp" media="(max-width: 1100px)")
								img(src="img/p6-3.webp" alt="")
					.section3__overlay

				.section3__block.section3__block--3
					.section3__label.section3__label--1
						img.section3__label-item.section3__label-item--1(src="img/svg/label3-1.svg" alt="")
						img.section3__label-item.section3__label-item--2(src="img/svg/label3-2.svg" alt="")
					.section3__flex
						.section3__image
							picture
								source(srcset="img/mobile/p6-4.webp" media="(max-width: 1100px)")
								img(src="img/p6-4.webp" alt="")
					.section3__star
							picture
								source(srcset="img/mobile/p6-5.webp" media="(max-width: 1100px)")
								img(src="img/p6-5.webp" alt="")
					.section3__label.section3__label--2
						img.section3__label-item.section3__label-item--1(src="img/svg/label3-3-1.svg" alt="")
						img.section3__label-item.section3__label-item--2(src="img/svg/label3-3-2.svg" alt="")


					.section3__year 1948
					.section3__mobile
						img.section3__mobile-label(src="img/svg/label-3-mobile.svg" alt="")
					.section3__overlay

				.section3__block.section3__block--4
					.section3__label
						img.section3__label-item.section3__label-item--1(src="img/svg/label3-4.svg" alt="")
						img.section3__label-item.section3__label-item--2(src="img/svg/label3-5.svg" alt="")
						img.section3__label-item.section3__label-item--3(src="img/svg/label3-6.svg" alt="")
					.section3__image
						picture
							source(srcset="img/mobile/p6-7.webp" media="(max-width: 1100px)")
							img(src="img/p6-7.webp" alt="")
					.section3__year 1949
					.section3__text
						.section3__text-inner Директором института назначен доцент <span>Мазит Идрисович Сайфуллин.</span>
					.section3__mobile
						img.section3__mobile-label(src="img/svg/label-4-mobile.svg" alt="")
					.section3__overlay



	//-include ../blocks/modules/header/header
	//-include ../blocks/modules/footer/footer


block scripts
