@font-face {
	font-family: 'Suisse Intl';
	src: url('../fonts/SuisseIntl-Regular.woff2') format('woff2'),
	url('../fonts/SuisseIntl-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Suisse Intl';
	src: url('../fonts/SuisseIntl-Light.woff2') format('woff2'),
	url('../fonts/SuisseIntl-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Suisse Intl';
	src: url('../fonts/SuisseIntl-Book.woff2') format('woff2'),
	url('../fonts/SuisseIntl-Book.woff') format('woff');
	font-weight: 450;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SangBleu Empire';
	src: url('../fonts/SangBleuEmpire-Regular.woff2') format('woff2'),
	url('../fonts/SangBleuEmpire-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: 'Garamond Premr Pro';
	src: url('../fonts/GaramondPremrPro.woff2') format('woff2'),
	url('../fonts/GaramondPremrPro.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}